@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}

<main id="main" class="o-page__content" role="main">
	@{
	    var cover = new CoverViewModel {
			ImageIds = Model.GetPropertyValue<string>("coverImage"),
			Headline = Model.HasValue("coverHeadline") ? Model.GetPropertyValue<string>("coverHeadline") : Model.Name,
			Subtitle = Model.GetPropertyValue<IHtmlString>("coverSubtitle"),
			SubtitleLabel = Model.GetPropertyValue<string>("coverSubtitleLabel"),
			Copy = Model.GetPropertyValue<IHtmlString>("coverCopy"),
			Cta = Model.GetPropertyValue<string>("coverCta")
	    };

	    @Html.Partial("~/Views/Partials/Components/Cover.cshtml", cover);
	}


	@RenderIntro()
	@RenderTeam()
	@RenderCareers()

	@{
		var creativeImage = new ImageViewModel
        {
            ImageId = 1221,
            Alignment = "Full width",
            AspectRatio = "16:9",
            ImageWidth = 1600
        };

        @Html.Partial("~/Views/Partials/Components/Image.cshtml", creativeImage)
	}

</main>

@helper RenderIntro() {
	var heading = new HeadingViewModel {
		Headline = Model.GetPropertyValue<string>("introHeadline"),
		Subtitle = Model.GetPropertyValue<string>("introSubtitle")
	};

	<section class="o-section u-background--light">
		<div class="o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("intro")
				</div>
				<div class="o-col o-col--last">
					<h3 class="u-zeta">Services</h3>
					<ul class="o-list--col-two u-font-sec u-font--small">
						<li>Commodo</li>
						<li>Ultricies</li>
						<li>Ligula</li>
						<li>Vehicula</li>
						<li>Commodo</li>
						<li>Ultricies</li>
						<li>Ligula</li>
						<li>Vehicula</li>
					</ul>
				</div>
			</div>
			@{
				var logos = new LogoListingViewModel {
					LogoListing = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("introLogos"),
					ModifierClass = "c-logo-grid u-clearfix u-space-top--large"
				};
				@Html.Partial("~/Views/Partials/Components/LogoListing.cshtml", logos);
			}
		</div>
	</section>
}

@helper RenderTeam() {
	var heading = new HeadingViewModel {
		Headline = "Meet the team",
		Subtitle = "Aenean lacinia bibendum nulla sed consectetur."
	};
	<section id="team" class="o-section">
		<div class="o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="u-space-bottom--large">
				<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris massa justo sit amet <a href=""><strong>Join the team</strong></a>.</p>
			</div>
			@Html.Partial("~/Views/Partials/Team/TeamListing.cshtml")
		</div>
	</section>
}

@helper RenderCareers() {
	var heading = new HeadingViewModel {
		Headline = "Careers",
		Subtitle = "Aenean lacinia bibendum nulla sed consectetur."
	};
	<section id="careers" class="o-section u-background--light">
		<div class="o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris massa justo sit amet.</p>
			<div class="o-wrap--small">
				@Html.Partial("~/Views/Partials/Careers/VacancyListing.cshtml")
			</div>
		</div>
	</section>
}
