@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";

	var Quote1Model = new QuoteViewModel {
		Quote = Model.GetPropertyValue<IHtmlString>("quote"),
		Source = Model.GetPropertyValue<string>("quoteSource")
	};
	var Quote2Model = new QuoteViewModel {
		Quote = Model.GetPropertyValue<IHtmlString>("quote2"),
		Source = Model.GetPropertyValue<string>("quoteSource2")
	};

}

<main id="main" class="o-page__content" role="main">
	@{
        var cover = new CoverViewModel {
			ImageIds = Model.GetPropertyValue<string>("coverImage"),
			Headline = Model.HasValue("coverHeadline") ? Model.GetPropertyValue<string>("coverHeadline") : Model.Name,
			Subtitle = Model.GetPropertyValue<IHtmlString>("coverSubtitle"),
			SubtitleLabel = Model.GetPropertyValue<string>("coverSubtitleLabel"),
			Copy = Model.GetPropertyValue<IHtmlString>("coverCopy"),
			Cta = Model.GetPropertyValue<string>("coverCta")
    	};

	    @Html.Partial("~/Views/Partials/Components/Cover.cshtml", cover)
	}
	@Html.Partial("~/Views/Partials/CaseStudies/Intro.cshtml")
	@Html.Partial("~/Views/Partials/Components/QuoteFeature.cshtml", Quote1Model)
	@RenderJourney()
	@{
		var imageColModel = new ImageColumnsViewModel {
	        FirstImageId = Model.GetPropertyValue<int>("imageCol1"),
			LastImageId = Model.GetPropertyValue<int>("imageCol2"),
			ModifierClass = "s-caseStudyPoleStar__image-cols"
	    };
		@Html.Partial("~/Views/Partials/Components/ImageColumns.cshtml", imageColModel)
	}

	@RenderIcons()
	@RenderWebsite()


	@Html.Partial("~/Views/Partials/CaseStudies/Result.cshtml")
	@Html.Partial("~/Views/Partials/Components/QuoteFeature.cshtml", Quote2Model)
	@Html.Partial("~/Views/Partials/CaseStudies/CaseStudyPager.cshtml")
</main>

@helper RenderJourney() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("journeyHeadline"),
        Subtitle = Model.GetPropertyValue<string>("journeySubtitle")
    };
	var bgImage = Umbraco.TypedMedia(Model.GetPropertyValue<int>("journeyBackgroundImage"));
	var bgImageUrl = bgImage != null ? bgImage.Url + "?width=1800" : "";

    var image = Umbraco.TypedMedia(Model.GetPropertyValue<int>("journeyImage"));
	var imageUrl = image != null ? image.Url + "?width=500" : "";

	<section class="o-section s-caseStudyPoleStar__journey" style="background-image: url(@bgImageUrl);">
        @if(!String.IsNullOrWhiteSpace(imageUrl)) {
            <img src="@imageUrl" alt="@image.GetPropertyValue("altText")" class="s-caseStudyPoleStar__journey__image">
        }
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("journeyCopy")
				</div>
			</div>
		</div>
	</section>
}

@helper RenderIcons() {
    var heading = new HeadingViewModel {
		Headline = Model.GetPropertyValue<string>("iconHeadline"),
        Subtitle = Model.GetPropertyValue<string>("iconSubtitle"),
		IsCenter = true
    };

	var comparisonImages = new ImageComparisonViewModel {
        BeforeImageId = Model.GetPropertyValue<int>("iconBeforeImage"),
		AfterImageId = Model.GetPropertyValue<int>("iconAfterImage")
    };

    <section class="o-section u-background--light">
		<div class="o-section__inner o-wrap o-wrap--medium">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
            @Model.GetPropertyValue("iconCopy")
		</div>

		<div class="o-wrap o-wrap--large u-space-top--large">
			@Html.Partial("~/Views/Partials/Components/ImageComparison.cshtml", comparisonImages)
		</div>
	</section>
}


@helper RenderWebsite() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("websiteHeadline"),
        Subtitle = Model.GetPropertyValue<string>("websiteSubtitle")
    };

	var heading2  = new HeadingViewModel {
		Headline = Model.GetPropertyValue<string>("desktopHeadline"),
        Subtitle = Model.GetPropertyValue<string>("desktopSubtitle")
	};

	var heading3  = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("mobileHeadline"),
        Subtitle = Model.GetPropertyValue<string>("mobileSubtitle")
	};

	var heading4  = new HeadingViewModel {
		Headline = Model.GetPropertyValue<string>("desktopHeadline2"),
        Subtitle = Model.GetPropertyValue<string>("desktopSubtitle2")
	};

	<section>
		<div class="o-section o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("websiteCopy")
					<a href="#" class="c-button c-button--primary u-space-top--large">Launch site</a>
				</div>
			</div>
		</div>



		<div class="o-wrap o-wrap--x-large c-image-offset-column u-clearfix">
            <div class="c-image-offset-column__col c-image-offset-column__col--first c-image-offset-column__col--content">
    			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading2)
    			@Model.GetPropertyValue("desktopCopy")
            </div>
            <div class="c-image-offset-column__col c-image-offset-column__col--last c-image-offset-column__col--image u-anim u-anim-duration-20"  data-scroll="toggle(slideInRight, slideOutRight) addHeight(false)">
				@{
					var desktopImage = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("desktopImage"),
						Type = "desktop"
					};
				}
				@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", desktopImage)
            </div>
		</div>



		<div class="o-section o-wrap o-wrap--x-large c-image-offset-column c-image-offset-column--reverse u-clearfix">
			<div class="c-image-offset-column__col c-image-offset-column__col--first c-image-offset-column__col--content">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading3)
				@Model.GetPropertyValue("mobileCopy")
			</div>
			<div class="c-image-offset-column__col c-image-offset-column__col--last c-image-offset-column__col--image c-mobile-frame--wrap-two u-clearfix">
				@{
					var mobileImage1 = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("mobileImage1"),
						Type = "mobile"
					};
					var mobileImage2 = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("mobileImage2"),
						Type = "mobile"
					};
				}
				@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", mobileImage1)
				@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", mobileImage2)
			</div>
		</div>

		<div class="o-wrap o-wrap--x-large c-image-offset-column u-clearfix">
            <div class="c-image-offset-column__col c-image-offset-column__col--first c-image-offset-column__col--content">
    			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading4)
    			@Model.GetPropertyValue("desktopCopy")
            </div>
            <div class="c-image-offset-column__col c-image-offset-column__col--last c-image-offset-column__col--image u-anim u-anim-duration-20"  data-scroll="toggle(slideInRight, slideOutRight) addHeight(false)">
				@{
					var desktopImage2 = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("desktopImage2"),
						Type = "desktop"
					};
				}
				@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", desktopImage2)
            </div>
		</div>

	</section>
}
