@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";

	var Quote1Model = new QuoteViewModel {
		Quote = Model.GetPropertyValue<IHtmlString>("quote"),
		Source = Model.GetPropertyValue<string>("quoteSource")
	};
	var Quote2Model = new QuoteViewModel {
		Quote = Model.GetPropertyValue<IHtmlString>("quote2"),
		Source = Model.GetPropertyValue<string>("quoteSource2")
	};
}
<main id="main" class="o-page__content" role="main">
	@{
        var cover = new CoverViewModel {
			ImageIds = Model.GetPropertyValue<string>("coverImage"),
			Headline = Model.HasValue("coverHeadline") ? Model.GetPropertyValue<string>("coverHeadline") : Model.Name,
			Subtitle = Model.GetPropertyValue<IHtmlString>("coverSubtitle"),
			SubtitleLabel = Model.GetPropertyValue<string>("coverSubtitleLabel"),
			Copy = Model.GetPropertyValue<IHtmlString>("coverCopy"),
			Cta = Model.GetPropertyValue<string>("coverCta")
    	};

	    @Html.Partial("~/Views/Partials/Components/Cover.cshtml", cover)
	}
	@Html.Partial("~/Views/Partials/CaseStudies/Intro.cshtml")
	@Html.Partial("~/Views/Partials/Components/QuoteFeature.cshtml", Quote1Model)
	@RenderCampaign()

	@{
        var imageColModel = new ImageColumnsViewModel {
            FirstImageId = Model.GetPropertyValue<int>("imageCol1"),
            LastImageId = Model.GetPropertyValue<int>("imageCol2"),
            ModifierClass = "s-caseStudyAIM__image-cols"
        };
        @Html.Partial("~/Views/Partials/Components/ImageColumns.cshtml", imageColModel)
    }

	@RenderWebsite()
	@Html.Partial("~/Views/Partials/CaseStudies/Result.cshtml")
	@Html.Partial("~/Views/Partials/Components/QuoteFeature.cshtml", Quote2Model)
	@*
	@Html.Partial("~/Views/Partials/CaseStudies/CaseStudyPager.cshtml")
	*@
</main>


@helper RenderWebsite() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("websiteHeadline"),
        Subtitle = Model.GetPropertyValue<string>("websiteSubtitle")
    };

	var heading2  = new HeadingViewModel {
		Headline = Model.GetPropertyValue<string>("desktopHeadline"),
        Subtitle = Model.GetPropertyValue<string>("desktopSubtitle")
	};

	var heading3  = new HeadingViewModel {
		Headline = Model.GetPropertyValue<string>("mobileHeadline"),
        Subtitle = Model.GetPropertyValue<string>("mobileSubtitle")
	};

	<section>
		<div class="o-section o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("websiteCopy")
                    @{
						var buttonJson = Model.GetPropertyValue<string>("coverCta");
						if(!String.IsNullOrWhiteSpace(buttonJson)) {
							var button = Json.Decode(buttonJson);
							if( button != null ) {
								<a href="@button.Url" target="@button.Target" class="c-button c-button--primary u-space-top--large">@button.Name</a>
							}
						}
					}
				</div>
			</div>
		</div>

		<div class="o-wrap o-wrap--x-large c-image-offset-column u-clearfix js-caseStudyAIM__web__desktop">
            <div class="c-image-offset-column__col c-image-offset-column__col--first c-image-offset-column__col--content">
    			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading2)
    			@Model.GetPropertyValue("desktopCopy")
            </div>
            <div class="c-image-offset-column__col c-image-offset-column__col--last c-image-offset-column__col--image js-caseStudyAIM__web__desktop__image">
				@{
					var desktopImage = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("desktopImage"),
						Type = "desktop"
					};
				}
				@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", desktopImage)
            </div>
		</div>

		<div class="o-section o-wrap o-wrap--x-large c-image-offset-column c-image-offset-column--reverse u-clearfix js-caseStudyAIM__web__mobile">
			<div class="c-image-offset-column__col c-image-offset-column__col--first c-image-offset-column__col--content">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading3)
				@Model.GetPropertyValue("mobileCopy")
			</div>
			<div class="c-image-offset-column__col c-image-offset-column__col--last c-image-offset-column__col--image c-mobile-frame--wrap-two u-clearfix">
				@{
					var mobileImage1 = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("mobileImage1"),
						Type = "mobile",
						ModifierClass = "js-caseStudyAIM__web__mobile__image-first"
					};
					var mobileImage2 = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("mobileImage2"),
						Type = "mobile",
						ModifierClass = "js-caseStudyAIM__web__mobile__image-second"
					};
				}
				@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", mobileImage1)
				@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", mobileImage2)
			</div>
		</div>

	</section>
}

@helper RenderMobileImage(int imageId = 0, string cropAnchor = "") {
	var image = Umbraco.TypedMedia(imageId);
	var imageUrl = image != null ? image.Url + "?width=375&height=667&mode=crop&anchor=" + cropAnchor : "";

	<div class="c-mobile-frame">
		<img src="@imageUrl" alt="" class="c-mobile-frame__image">
	</div>
}

@helper RenderDesktopImage(int imageId = 0, string cropAnchor = "") {
	var image = Umbraco.TypedMedia(imageId);
	var imageUrl = image != null ? image.Url + "?width=860&height=640&mode=crop&anchor=" + cropAnchor : "";
	<div class="c-desktop-frame">
		<img src="@imageUrl" alt="" class="c-desktop-frame__image">
	</div>
}


@helper RenderCampaign() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("campaignHeadline"),
        Subtitle = Model.GetPropertyValue<string>("campaignSubtitle")
    };

	var bgImage = Umbraco.TypedMedia(Model.GetPropertyValue<int>("campaignBackgroundImage"));
	var bgImageUrl = bgImage != null ? bgImage.Url + "?width=900" : "";

	<section class="o-section s-caseStudyAIM__campaign js-caseStudyAIM__campaign">
		@{
			var image1 = new ImageViewModel
			{
				ImageId = Model.GetPropertyValue<int>("campaignImage1"),
				ImageWidth = 400,
				AdditionalClass = "s-caseStudyAIM__campaign__image-col s-caseStudyAIM__campaign__image-col--first"
			};
			var image2 = new ImageViewModel
			{
				ImageId = Model.GetPropertyValue<int>("campaignImage2"),
				ImageWidth = 400,
				AdditionalClass = "s-caseStudyAIM__campaign__image-col s-caseStudyAIM__campaign__image-col--last"
			};
		}

		@if( !String.IsNullOrWhiteSpace(bgImageUrl) ){
			<img src="@bgImageUrl" alt="@bgImage.GetPropertyValue("altText")" class="s-caseStudyAIM__campaing__background js-caseStudyAIM__campaign__image">
		}

		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("campaignCopy")

					<div class="s-hullTruckCaseStudy__advertisting__image-cols u-clearfix u-space-top--large">
						@Html.Partial("~/Views/Partials/Components/Image.cshtml", image1)
						@Html.Partial("~/Views/Partials/Components/Image.cshtml", image2)
					</div>
				</div>
			</div>
		</div>
	</section>
}
