@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";

	var Quote1Model = new QuoteViewModel {
		Quote = Model.GetPropertyValue<IHtmlString>("quote"),
		Source = Model.GetPropertyValue<string>("quoteSource")
	};
	var Quote2Model = new QuoteViewModel {
		Quote = Model.GetPropertyValue<IHtmlString>("quote2"),
		Source = Model.GetPropertyValue<string>("quoteSource2")
	};

}

<main id="main" class="o-page__content" role="main">
	@{
        var cover = new CoverViewModel {
			ImageIds = Model.GetPropertyValue<string>("coverImage"),
			Headline = Model.HasValue("coverHeadline") ? Model.GetPropertyValue<string>("coverHeadline") : Model.Name,
			Subtitle = Model.GetPropertyValue<IHtmlString>("coverSubtitle"),
			SubtitleLabel = Model.GetPropertyValue<string>("coverSubtitleLabel"),
			Copy = Model.GetPropertyValue<IHtmlString>("coverCopy"),
			Cta = Model.GetPropertyValue<string>("coverCta")
    	};

	    @Html.Partial("~/Views/Partials/Components/Cover.cshtml", cover)
	}
	@Html.Partial("~/Views/Partials/CaseStudies/Intro.cshtml")
	@Html.Partial("~/Views/Partials/Components/QuoteFeature.cshtml", Quote1Model)
	@RenderCampaign()
	@{
        var introImageColModel = new ImageColumnsViewModel {
            FirstImageId = Model.GetPropertyValue<int>("imageCol1"),
            LastImageId = Model.GetPropertyValue<int>("imageCol2"),
            ModifierClass = "s-hullTruckCaseStudy__image-cols--intro"
        };
        @Html.Partial("~/Views/Partials/Components/ImageColumns.cshtml", introImageColModel)
    }
	@RenderProspectus()
	@{
		var gallery1 = new GalleryViewModel
		{
			MediaIds = Model.GetPropertyValue<string>("galleryImages"),
			AspectRatio = "16:9"
		};
		@Html.Partial("~/Views/Partials/PageComponents/Gallery.cshtml", gallery1)
	}
	@RenderProspectusSixthForm()
	@{
		var gallery2 = new GalleryViewModel
		{
			MediaIds = Model.GetPropertyValue<string>("galleryImages2"),
			AspectRatio = "16:9"
		};
		@Html.Partial("~/Views/Partials/PageComponents/Gallery.cshtml", gallery2)
	}
	@RenderPoint()
	@{
		var gallery3 = new GalleryViewModel
		{
			MediaIds = Model.GetPropertyValue<string>("galleryImages3"),
			AspectRatio = "16:9"
		};
		@Html.Partial("~/Views/Partials/PageComponents/Gallery.cshtml", gallery3)
	}
	@RenderLeavers()
	@{
        var imageColModel2 = new ImageColumnsViewModel {
            FirstImageId = Model.GetPropertyValue<int>("secondImageCol1"),
            LastImageId = Model.GetPropertyValue<int>("secondImageCol2"),
            ModifierClass = "s-hullTruckCaseStudy__image-cols--intro"
        };
        @Html.Partial("~/Views/Partials/Components/ImageColumns.cshtml", imageColModel2)
    }
	@Html.Partial("~/Views/Partials/CaseStudies/Result.cshtml")
	@Html.Partial("~/Views/Partials/Components/QuoteFeature.cshtml", Quote2Model)
	@Html.Partial("~/Views/Partials/CaseStudies/CaseStudyPager.cshtml")
</main>

@helper RenderCampaign() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("campaignHeadline"),
        Subtitle = Model.GetPropertyValue<string>("campaignSubtitle")
    };

	var image1 = Umbraco.TypedMedia(Model.GetPropertyValue<int>("campaignImage1"));
	var imageUrl1 = image1 != null ? image1.Url + "?width=400" : "";
	var hasImage1 = !String.IsNullOrWhiteSpace(imageUrl1);

	var image2 = Umbraco.TypedMedia(Model.GetPropertyValue<int>("campaignImage2"));
	var imageUrl2 = image2 != null ? image2.Url + "?width=200" : "";
	var hasImage2 = !String.IsNullOrWhiteSpace(imageUrl2);

	var image3 = Umbraco.TypedMedia(Model.GetPropertyValue<int>("campaignImage3"));
	var imageUrl3 = image3 != null ? image3.Url + "?width=500" : "";
	var hasImage3 = !String.IsNullOrWhiteSpace(imageUrl3);

	var bgImage = Umbraco.TypedMedia(Model.GetPropertyValue<int>("campaignBackgroundImage"));
	var imageUrl = bgImage != null ? bgImage.Url + "?width=500" : "";

	<section class="o-section s-caseStudyPGS__campaign">
		@if(!String.IsNullOrWhiteSpace(imageUrl)) {
			<img src="@imageUrl" alt="@bgImage.GetPropertyValue("altText")" class="s-caseStudyPGS__campaign__image--bg">
		}
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("campaignCopy")
				</div>
			</div>

			@if( hasImage1 || hasImage2 || hasImage3 ) {
				<div class="s-caseStudyPGS__campaign__images u-clearfix">
					@if(hasImage1) {
						<img src="@imageUrl1" alt="@image1.GetPropertyValue("altText")" class="s-caseStudyPGS__campaign__image--1">
					}

					@if(hasImage2) {
						<img src="@imageUrl2" alt="@image2.GetPropertyValue("altText")" class="s-caseStudyPGS__campaign__image--2">
					}

					@if(hasImage3) {
						<img src="@imageUrl3" alt="@image3.GetPropertyValue("altText")" class="s-caseStudyPGS__campaign__image--3">
					}
				</div>
			}
		</div>
	</section>
}

@helper RenderProspectus() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("prospectusHeadline"),
        Subtitle = Model.GetPropertyValue<string>("prospectusSubtitle")
    };
	<section class="o-section">
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("prospectusCopy")
				</div>
			</div>
		</div>
	</section>
}

@helper RenderProspectusSixthForm() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("prospectusSixthFormHeadline"),
        Subtitle = Model.GetPropertyValue<string>("prospectusSixthFormSubtitle")
    };
	var image = Umbraco.TypedMedia(Model.GetPropertyValue<int>("prospectusSixthFormBackgroundImage"));
	var imageUrl = image != null ? image.Url + "?width=500" : "";

	<section class="o-section s-caseStudyPGS__sixth-form">
		@if(!String.IsNullOrWhiteSpace(imageUrl)) {
			<img src="@imageUrl" alt="@image.GetPropertyValue("altText")" class="s-caseStudyPGS__sixth-form__image">
		}
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("prospectusSixthFormCopy")
				</div>
			</div>
		</div>
	</section>
}

@helper RenderPoint() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("pointHeadline"),
        Subtitle = Model.GetPropertyValue<string>("pointSubtitle")
    };
	<section class="o-section">
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("pointCopy")
				</div>
			</div>
		</div>
	</section>
}

@helper RenderLeavers() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("leaversHeadline"),
        Subtitle = Model.GetPropertyValue<string>("leaversSubtitle"),
    };
	<section class="o-section">
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("leaversCopy")
				</div>
			</div>
		</div>
	</section>
}
