@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";

	var Quote1Model = new QuoteViewModel {
		Quote = Model.GetPropertyValue<IHtmlString>("quote"),
		Source = Model.GetPropertyValue<string>("quoteSource")
	};
	var Quote2Model = new QuoteViewModel {
		Quote = Model.GetPropertyValue<IHtmlString>("quote2"),
		Source = Model.GetPropertyValue<string>("quoteSource2")
	};
}

<main id="main" class="o-page__content" role="main">
	@{
        var cover = new CoverViewModel {
			ImageIds = Model.GetPropertyValue<string>("coverImage"),
			Headline = Model.HasValue("coverHeadline") ? Model.GetPropertyValue<string>("coverHeadline") : Model.Name,
			Subtitle = Model.GetPropertyValue<IHtmlString>("coverSubtitle"),
			SubtitleLabel = Model.GetPropertyValue<string>("coverSubtitleLabel"),
			Copy = Model.GetPropertyValue<IHtmlString>("coverCopy"),
			Cta = Model.GetPropertyValue<string>("coverCta")
    	};

	    @Html.Partial("~/Views/Partials/Components/Cover.cshtml", cover)
	}
	@Html.Partial("~/Views/Partials/CaseStudies/Intro.cshtml")
	@{
        var introImageColModel = new ImageColumnsViewModel {
            FirstImageId = Model.GetPropertyValue<int>("imageCol1"),
            LastImageId = Model.GetPropertyValue<int>("imageCol2"),
            ModifierClass = "s-hullTruckCaseStudy__image-cols--intro"
        };
        @Html.Partial("~/Views/Partials/Components/ImageColumns.cshtml", introImageColModel)
    }

	@Html.Partial("~/Views/Partials/Components/QuoteFeature.cshtml", Quote1Model)
	@RenderBranding()
	@RenderReport()

	@{
		var gallery1 = new GalleryViewModel
		{
			MediaIds = Model.GetPropertyValue<string>("galleryImages"),
			AspectRatio = "16:9"
		};
	}
	@Html.Partial("~/Views/Partials/PageComponents/Gallery.cshtml", gallery1)

	@RenderWebsite()
	@RenderAnniversary()

	@{
        var imageColModel2 = new ImageColumnsViewModel {
            FirstImageId = Model.GetPropertyValue<int>("secondImageCol1"),
            LastImageId = Model.GetPropertyValue<int>("secondImageCol2"),
            ModifierClass = "s-hullTruckCaseStudy__image-cols--intro"
        };
        @Html.Partial("~/Views/Partials/Components/ImageColumns.cshtml", imageColModel2)
    }

	@RenderContentSocial()

	@Html.Partial("~/Views/Partials/CaseStudies/Result.cshtml")
	@Html.Partial("~/Views/Partials/Components/QuoteFeature.cshtml", Quote2Model)
	@Html.Partial("~/Views/Partials/CaseStudies/CaseStudyPager.cshtml")
</main>


@helper RenderBranding() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("brandingHeadline"),
        Subtitle = Model.GetPropertyValue<string>("brandingSubtitle")
    };

	var logo = Umbraco.TypedMedia(Model.GetPropertyValue<int>("brandingImage"));
	var logoUrl = logo != null ? logo.Url + "?width=310" : "";

	<section class="o-section">
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix u-space-bottom--large">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("brandingCopy")
					@if(!String.IsNullOrWhiteSpace(logoUrl)) {
						<img src="@logoUrl" alt="logo.GetPropertyValue("altText")" class="u-space-top--large u-space-bottom">
					}
				</div>
			</div>

			<h3 class="u-breakline u-gamma">Typography</h3>
			<div class="o-col--two u-clearfix u-space-bottom--large">
				<div class="o-col o-col--first">
					<h4>Headings</h4>
				</div>
				<div class="o-col o-col--last">
					<h4>Body copy</h4>
				</div>
			</div>

			@{
				var blueSwatch = new ColourSwatchViewModel {
		            Name = "Blue",
					Subtitle = "#30b2cd",
		            Hex = "#30b2cd"
		        };
				var greenSwatch = new ColourSwatchViewModel {
		            Name = "Green",
		            Subtitle = "#a0c04d",
					Hex = "#a0c04d"
		        };
				var orangeSwatch = new ColourSwatchViewModel {
		            Name = "Orange",
		            Subtitle = "#f37021",
					Hex = "#f37021"
		        };
				var redSwatch = new ColourSwatchViewModel {
		            Name = "Red",
		            Subtitle = "#ed1c24",
					Hex = "#ed1c24"
		        };
				var purpleSwatch = new ColourSwatchViewModel {
		            Name = "Purple",
		            Subtitle = "#8a5497",
					Hex = "#8a5497"
		        };

				<h3 class="u-breakline u-gamma">Colours</h3>
				<div class="c-colour-swatch-wrap u-clearfix u-space-top">
			        @Html.Partial("~/Views/Partials/Components/ColourSwatch.cshtml", blueSwatch)
					@Html.Partial("~/Views/Partials/Components/ColourSwatch.cshtml", greenSwatch)
					@Html.Partial("~/Views/Partials/Components/ColourSwatch.cshtml", orangeSwatch)
					@Html.Partial("~/Views/Partials/Components/ColourSwatch.cshtml", redSwatch)
					@Html.Partial("~/Views/Partials/Components/ColourSwatch.cshtml", purpleSwatch)
				</div>
		    }
		</div>
	</section>
}

@helper RenderReport() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("reportHeadline"),
        Subtitle = Model.GetPropertyValue<string>("reportSubtitle")
    };

	<section class="o-section u-background--light">
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("reportCopy")
				</div>
			</div>
		</div>
	</section>
}

@helper RenderAnniversary() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("anniversaryHeadline"),
        Subtitle = Model.GetPropertyValue<string>("anniversarySubtitle")
    };

	<section class="o-section u-background--light">
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("anniversaryCopy")
				</div>
			</div>
		</div>
	</section>
}

@helper RenderWebsite() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("websiteHeadline"),
        Subtitle = Model.GetPropertyValue<string>("websiteSubtitle")
    };

	var heading2  = new HeadingViewModel {
		Headline = Model.GetPropertyValue<string>("desktopHeadline"),
        Subtitle = Model.GetPropertyValue<string>("desktopSubtitle")
	};

	var heading3  = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("mobileHeadline"),
        Subtitle = Model.GetPropertyValue<string>("mobileSubtitle")
	};

	var heading4  = new HeadingViewModel {
		Headline = Model.GetPropertyValue<string>("desktopHeadline2"),
        Subtitle = Model.GetPropertyValue<string>("desktopSubtitle2")
	};

	<section>
		<div class="o-section o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("websiteCopy")
					<a href="#" class="c-button c-button--primary u-space-top--large">Launch site</a>
				</div>
			</div>
		</div>

		<div class="o-wrap o-wrap--x-large c-image-offset-column u-clearfix">
            <div class="c-image-offset-column__col c-image-offset-column__col--first c-image-offset-column__col--content">
    			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading2)
    			@Model.GetPropertyValue("desktopCopy")
            </div>
            <div class="c-image-offset-column__col c-image-offset-column__col--last c-image-offset-column__col--image u-anim u-anim-duration-20"  data-scroll="toggle(slideInRight, slideOutRight) addHeight(false)">
				@{
					var desktopImage = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("desktopImage"),
						Type = "desktop"
					};
				}
				@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", desktopImage)
            </div>
		</div>



		<div class="o-section o-wrap o-wrap--x-large c-image-offset-column c-image-offset-column--reverse u-clearfix">
			<div class="c-image-offset-column__col c-image-offset-column__col--first c-image-offset-column__col--content">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading3)
				@Model.GetPropertyValue("mobileCopy")
			</div>
			<div class="c-image-offset-column__col c-image-offset-column__col--last c-image-offset-column__col--image c-mobile-frame--wrap-two u-clearfix">
				@{
					var mobileImage1 = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("mobileImage1"),
						Type = "mobile"
					};
					var mobileImage2 = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("mobileImage2"),
						Type = "mobile"
					};
				}
				@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", mobileImage1)
				@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", mobileImage2)
			</div>
		</div>

		<div class="o-wrap o-wrap--x-large c-image-offset-column u-clearfix">
            <div class="c-image-offset-column__col c-image-offset-column__col--first c-image-offset-column__col--content">
    			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading4)
    			@Model.GetPropertyValue("desktopCopy")
            </div>
            <div class="c-image-offset-column__col c-image-offset-column__col--last c-image-offset-column__col--image u-anim u-anim-duration-20"  data-scroll="toggle(slideInRight, slideOutRight) addHeight(false)">
				@{
					var desktopImage2 = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("desktopImage2"),
						Type = "desktop"
					};
				}
				@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", desktopImage2)
            </div>
		</div>

	</section>
}


@helper RenderContentSocial() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("contentSocialHeadline"),
        Subtitle = Model.GetPropertyValue<string>("contentSocialSubtitle")
    };

	var mobileImage = new DeviceFrameViewModel
	{
		ImageId = Model.GetPropertyValue<int>("contentSocialImage"),
		Type = "mobile"
	};

	<section class="o-section s-octagon__content-social">
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("contentSocialCopy")
				</div>
				<div class="o-col o-col--last">
					@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", mobileImage)
				</div>
			</div>
		</div>
	</section>
}
