@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";

	var Quote1Model = new QuoteViewModel {
		Quote = Model.GetPropertyValue<IHtmlString>("quote"),
		Source = Model.GetPropertyValue<string>("quoteSource")
	};
	var Quote2Model = new QuoteViewModel {
		Quote = Model.GetPropertyValue<IHtmlString>("quote2"),
		Source = Model.GetPropertyValue<string>("quoteSource2")
	};
}

<main id="main" class="o-page__content" role="main">
	@{
        var cover = new CoverViewModel {
			ImageIds = Model.GetPropertyValue<string>("coverImage"),
			Headline = Model.HasValue("coverHeadline") ? Model.GetPropertyValue<string>("coverHeadline") : Model.Name,
			Subtitle = Model.GetPropertyValue<IHtmlString>("coverSubtitle"),
			SubtitleLabel = Model.GetPropertyValue<string>("coverSubtitleLabel"),
			Copy = Model.GetPropertyValue<IHtmlString>("coverCopy"),
			Cta = Model.GetPropertyValue<string>("coverCta")
    	};

	    @Html.Partial("~/Views/Partials/Components/Cover.cshtml", cover)
	}
	@Html.Partial("~/Views/Partials/CaseStudies/Intro.cshtml")
	@Html.Partial("~/Views/Partials/Components/QuoteFeature.cshtml", Quote1Model)
	@{
        var introImageColModel = new ImageColumnsViewModel {
            FirstImageId = Model.GetPropertyValue<int>("imageCol1"),
            LastImageId = Model.GetPropertyValue<int>("imageCol2"),
            ModifierClass = "s-hullTruckCaseStudy__image-cols--intro"
        };
        @Html.Partial("~/Views/Partials/Components/ImageColumns.cshtml", introImageColModel)
    }


	@RenderWebsite()


	@{
		var gallery1 = new GalleryViewModel
		{
			MediaIds = Model.GetPropertyValue<string>("galleryImages"),
			AspectRatio = "16:9",
			Alignment = "full width"
		};
	}
	@Html.Partial("~/Views/Partials/PageComponents/Gallery.cshtml", gallery1)
    @RenderContentSocial()

	@{
		var gallery2 = new GalleryViewModel
		{
			MediaIds = Model.GetPropertyValue<string>("galleryImages2"),
			AspectRatio = "16:9",
			Alignment = "full width"
		};
	}
	@Html.Partial("~/Views/Partials/PageComponents/Gallery.cshtml", gallery2)
	@Html.Partial("~/Views/Partials/CaseStudies/Result.cshtml")
	@Html.Partial("~/Views/Partials/Components/QuoteFeature.cshtml", Quote2Model)
	@*
	@Html.Partial("~/Views/Partials/CaseStudies/CaseStudyPager.cshtml")
	*@
</main>



@helper RenderWebsite() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("websiteHeadline"),
        Subtitle = Model.GetPropertyValue<string>("websiteSubtitle")
    };

	var heading2  = new HeadingViewModel {
		Headline = Model.GetPropertyValue<string>("desktopHeadline"),
        Subtitle = Model.GetPropertyValue<string>("desktopSubtitle")
	};

	var heading3  = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("mobileHeadline"),
        Subtitle = Model.GetPropertyValue<string>("mobileSubtitle")
	};

	<section>
		<div class="o-section o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("websiteCopy")
                    @{
						var buttonJson = Model.GetPropertyValue<string>("coverCta");
						if(!String.IsNullOrWhiteSpace(buttonJson)) {
							var button = Json.Decode(buttonJson);
							if( button != null ) {
								<a href="@button.Url" target="@button.Target" class="c-button c-button--primary u-space-top--large">@button.Name</a>
							}
						}
					}
				</div>
			</div>
		</div>



		<div class="o-wrap o-wrap--x-large c-image-offset-column u-clearfix js-caseStudyMayerbrown__web__desktop">
            <div class="c-image-offset-column__col c-image-offset-column__col--first c-image-offset-column__col--content">
    			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading2)
    			@Model.GetPropertyValue("desktopCopy")
            </div>
            <div class="c-image-offset-column__col c-image-offset-column__col--last c-image-offset-column__col--image js-caseStudyMayerbrown__web__desktop__image">
				@{
					var desktopImage = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("desktopImage"),
						Type = "desktop"
					};
				}
				@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", desktopImage)
            </div>
		</div>



		<div class="o-section o-wrap o-wrap--x-large c-image-offset-column c-image-offset-column--reverse u-clearfix js-caseStudyMayerbrown__web__mobile">
			<div class="c-image-offset-column__col c-image-offset-column__col--first c-image-offset-column__col--content">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading3)
				@Model.GetPropertyValue("mobileCopy")
			</div>
			<div class="c-image-offset-column__col c-image-offset-column__col--last c-image-offset-column__col--image c-mobile-frame--wrap-two u-clearfix">
				@{
					var mobileImage1 = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("mobileImage1"),
						Type = "mobile",
						ModifierClass = "js-caseStudyMayerbrown__web__mobile__image-first"
					};
					var mobileImage2 = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("mobileImage2"),
						Type = "mobile",
						ModifierClass = "js-caseStudyMayerbrown__web__mobile__image-second"
					};
				}
				@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", mobileImage1)
				@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", mobileImage2)
			</div>
		</div>

	</section>
}


@helper RenderContentSocial() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("contentSocialHeadline"),
        Subtitle = Model.GetPropertyValue<string>("contentSocialSubtitle")
    };
	var image = Umbraco.TypedMedia(Model.GetPropertyValue<int>("contentSocialImage"));
	var imageUrl = image != null ? image.Url + "?width=380" : "";

	<section class="o-section s-caseStudyMayerbrown__content-social js-caseStudyMayerbrown__content-social">

		@if(!String.IsNullOrWhiteSpace(imageUrl)) {
			<img src="@imageUrl" alt="@image.GetPropertyValue("altText")" class="s-caseStudyMayerbrown__content-social__image js-caseStudyMayerbrown__content-social__image">
		}

		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("contentSocialCopy")
				</div>
			</div>
		</div>
	</section>
}
