@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";

    var Quote1Model = new QuoteViewModel {
		Quote = Model.GetPropertyValue<IHtmlString>("quote"),
		Source = Model.GetPropertyValue<string>("quoteSource")
	};
	var Quote2Model = new QuoteViewModel {
		Quote = Model.GetPropertyValue<IHtmlString>("quote2"),
		Source = Model.GetPropertyValue<string>("quoteSource2")
	};

    var fullWidthImage = new ImageViewModel
	{
		ImageId = 1352,
		Alignment = "Full width",
		AspectRatio = "16:9",
		ImageWidth = 1600
	};

    var fullWidthImage2 = new ImageViewModel
	{
		ImageId = 1356,
		Alignment = "Full width",
		AspectRatio = "16:9",
		ImageWidth = 1600
	};
}

<main id="main" class="o-page__content" role="main">
	@{
        var cover = new CoverViewModel {
			ImageIds = Model.GetPropertyValue<string>("coverImage"),
			Headline = Model.HasValue("coverHeadline") ? Model.GetPropertyValue<string>("coverHeadline") : Model.Name,
			Subtitle = Model.GetPropertyValue<IHtmlString>("coverSubtitle"),
			SubtitleLabel = Model.GetPropertyValue<string>("coverSubtitleLabel"),
			Copy = Model.GetPropertyValue<IHtmlString>("coverCopy"),
			Cta = Model.GetPropertyValue<string>("coverCta")
    	};

	    @Html.Partial("~/Views/Partials/Components/Cover.cshtml", cover)
	}
	@Html.Partial("~/Views/Partials/CaseStudies/Intro.cshtml")
	@Html.Partial("~/Views/Partials/Components/QuoteFeature.cshtml", Quote1Model)
	@RenderPlanning()

	@Html.Partial("~/Views/Partials/Components/ImageColumns.cshtml", new ImageColumnsViewModel {
		FirstImageId = Model.GetPropertyValue<int>("imageCol1"),
		LastImageId = Model.GetPropertyValue<int>("imageCol2"),
		ModifierClass = "s-caseStudyHenley__image-cols"
	})

	@RenderWebsite()

	@Html.Partial("~/Views/Partials/Components/Image.cshtml", fullWidthImage)
	@{
		var prospectusHeading = new HeadingViewModel {
	        Headline = Model.GetPropertyValue<string>("prospectusHeadline"),
	        Subtitle = Model.GetPropertyValue<string>("prospectusSubtitle")
	    };
	}
	<section class="o-section u-background--light u-clearfix">
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", prospectusHeading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("prospectusCopy")
				</div>
			</div>
		</div>
	</section>

	@Html.Partial("~/Views/Partials/Components/Image.cshtml", fullWidthImage2)

	@Html.Partial("~/Views/Partials/CaseStudies/Result.cshtml")
	@Html.Partial("~/Views/Partials/Components/QuoteFeature.cshtml", Quote2Model)
	@*
	@Html.Partial("~/Views/Partials/CaseStudies/CaseStudyPager.cshtml")
	*@
</main>

@helper RenderPlanning() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("planningHeadline"),
        Subtitle = Model.GetPropertyValue<string>("planningSubtitle")
    };

  var image = Umbraco.TypedMedia(Model.GetPropertyValue<int>("planningImage"));
  var imageUrl = image != null ? image.Url + "?width=540" : "";

	<section class="o-section u-clearfix s-caseStudyHenley__planning js-caseStudyHenley__planning">
    @if( !String.IsNullOrWhiteSpace(imageUrl) ) {
      <img src="@imageUrl" alt="image.GetPropertyValue("altText")" class="s-caseStudyHenley__planning__image js-caseStudyHenley__planning__image">
    }
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("planningCopy")
				</div>
			</div>
		</div>
	</section>
}

@helper RenderWebsite() {
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("websiteHeadline"),
        Subtitle = Model.GetPropertyValue<string>("websiteHeadline"),
    };

	var heading2  = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("desktopHeadline"),
        Subtitle = Model.GetPropertyValue<string>("desktopSubtitle"),
	};

	var heading3  = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("mobileHeadline"),
        Subtitle = Model.GetPropertyValue<string>("mobileSubtitle"),
	};

	var heading4  = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("desktopHeadline2"),
        Subtitle = Model.GetPropertyValue<string>("desktopSubtitle2"),
	};

	<section>
		<div class="o-section o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Model.GetPropertyValue("websiteCopy")
                    @{
						var buttonJson = Model.GetPropertyValue<string>("coverCta");
						if(!String.IsNullOrWhiteSpace(buttonJson)) {
							var button = Json.Decode(buttonJson);
							if( button != null ) {
								<a href="@button.Url" target="@button.Target" class="c-button c-button--primary u-space-top--large">@button.Name</a>
							}
						}
					}
				</div>
			</div>
		</div>



		<div class="o-wrap o-wrap--x-large c-image-offset-column u-clearfix js-caseStudyHenley__web__desktop">
            <div class="c-image-offset-column__col c-image-offset-column__col--first c-image-offset-column__col--content">
    			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading2)
    			@Model.GetPropertyValue("desktopCopy")
            </div>
            <div class="c-image-offset-column__col c-image-offset-column__col--last c-image-offset-column__col--image js-caseStudyHenley__web__desktop__image">
				@{
					var desktopImage = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("desktopImage"),
						Type = "desktop"
					};
				}
				@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", desktopImage)
            </div>
		</div>



		<div class="o-section o-wrap o-wrap--x-large c-image-offset-column c-image-offset-column--reverse u-clearfix js-caseStudyHenley__web__mobile">
			<div class="c-image-offset-column__col c-image-offset-column__col--first c-image-offset-column__col--content">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading3)
				@Model.GetPropertyValue("mobileCopy")
			</div>
			<div class="c-image-offset-column__col c-image-offset-column__col--last c-image-offset-column__col--image c-mobile-frame--wrap-two u-clearfix">
				@{
					var mobileImage1 = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("mobileImage1"),
						Type = "mobile",
						ModifierClass = "js-caseStudyHenley__web__mobile__image-first"
					};
					var mobileImage2 = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("mobileImage2"),
						Type = "mobile",
						ModifierClass = "js-caseStudyHenley__web__mobile__image-second"
					};
				}
				@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", mobileImage1)
				@Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", mobileImage2)
			</div>
		</div>

		<div class="o-wrap o-wrap--x-large c-image-offset-column u-clearfix js-caseStudyHenley__web__desktop-2">
			<div class="c-image-offset-column__col c-image-offset-column__col--first c-image-offset-column__col--content">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading4)
				@Model.GetPropertyValue("desktopCopy2")
			</div>
			<div class="c-image-offset-column__col c-image-offset-column__col--last c-image-offset-column__col--image js-caseStudyHenley__web__desktop-2__image">
				@{
					var desktopImage2 = new DeviceFrameViewModel
					{
						ImageId = Model.GetPropertyValue<int>("desktopImage2"),
						Type = "desktop"
					};
                    @Html.Partial("~/Views/Partials/Components/DeviceFrame.cshtml", desktopImage2)
				}
			</div>
		</div>
	</section>
}


@helper RenderJournal() {
	var heading = new HeadingViewModel {
        Headline = "Journal post",
        Subtitle = "Maecenas sed diam eget risus."
    };

	var cardModel = new CardViewModel {
        Id = 0,
        Headline = "UX, UI, Persona's & Wireframes.",
        CoverImage = Umbraco.TypedMedia(1086),
		Thumbnail = Umbraco.TypedMedia(1088),
        Url = "#"
    };

	<section class="o-section">
		<div class="o-section__inner o-wrap o-wrap--x-large">
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
					<p>Donec sed odio dui. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
				</div>
				<div class="o-col o-col--last">
					<h3 class="u-zeta">Further reading</h3>
					<div class="u-anim" data-scroll="toggle(fadeInUp, fadeOutDown)">
						@Html.Partial("~/Views/Partials/Components/Card.cshtml", cardModel)
					</div>
				</div>
			</div>
		</div>
	</section>

}
