@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}

<main id="main" class="o-page__content" role="main">
	@Html.Partial("~/Views/Partials/Components/Cover.cshtml")
	@RenderIntro()
	@RenderIntroImages()
    @RenderQuote1()
	@RenderCityCulture()

    @RenderCreative()
</main>

@helper RenderIntro() {
	var heading = new HeadingViewModel {
        Headline = "Intro",
        Subtitle = "A pioneering northern voice"
    };
	<section class="o-section u-background--light">
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					<p>Hull Truck are a pioneering theatre with a unique, powerful, contemporary Northern Voice, locally rooted and national in reach, inspiring artists, exciting audiences and supporting communities to reach their greatest potential.</p>
					<p>They produce and present exciting and culturally relevant theatre in our building, our community and out on tour. </p>
				</div>
				<div class="o-col o-col--last">
					<div class="o-stat">
						<span class="o-stat__label">ROI statistic</span>
						<span class="o-stat__fig u-font-sec u-giga">23:1</span>
					</div>
					<div class="o-stat">
						<span class="o-stat__label">Usage statistic</span>
						<span class="o-stat__fig u-font-sec u-giga">66<sup>%</sup></span>
					</div>
				</div>
			</div>
		</div>
	</section>
}

@helper RenderIntroImages() {
	var image1 = Umbraco.TypedMedia(1107);
	var image1Url = image1 != null ? image1.Url : "";

	var image2 = Umbraco.TypedMedia(1108);
	var image2Url = image2 != null ? image2.Url : "";

	<section class="c-image-col s-hullTruckCaseStudy__image-cols--intro u-clearfix">
		<div class="c-image-col__col s-hullTruckCaseStudy__image-cols__col">
			<img src="@image1Url" alt="" class="c-image-col__image">
		</div>
		<div class="c-image-col__col s-hullTruckCaseStudy__image-cols__col">
			<img src="@image2Url" alt="" class="c-image-col__image">
		</div>
	</section>
}

@helper RenderQuote1() {
    <section class="o-section u-background--pri">
		<blockquote class="c-quote o-section__inner o-wrap o-wrap--medium">
	        <div class="c-quote__copy u-gamma u-font-sec">
	            <p>First quote. We've had great feedback on the new site...</p>
	        </div>
            <footer class="c-quote__src">
				Ruth, Hull Truck Theatre
			</footer>
	    </blockquote>
	</section>
}

@helper RenderCityCulture() {
	var heading = new HeadingViewModel {
        Headline = "Hull, city of culture",
        Subtitle = "Helping Hull acheive their city of culture status"
    };

    <section class="o-section">
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
                <p>Every 4 years a city is award the title of city of culture. This title is given to a city that believes in the transformational power of culture. 2017 is the turn of Hull.</p>
                <p>Hull Truck Theatre had a key role in the representation of their city. As such they wanted a new look and feel for all their creative output. TGDH were lucky enough to win the pitch and have been instrumental in the creation of all the show artwork.</p>
				</div>
			</div>
		</div>
	</section>
}



@helper RenderCreative() {
	var heading = new HeadingViewModel {
        Headline = "Creative",
        Subtitle = "Powerful and intriguing meets gritty and modern."
    };

    <section class="o-section">
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
                    <p>It was important the artwork was as flexible as possible in layout and construction. It is not constrained by background colour or texture – therefore removal of the background makes it flexible and adaptable when applied to various formats.</p>
                    <p>All the show artwork is visually powerful and intriguing to attract audiences with built-in references to the plays story and/or characters. </p>
				</div>
			</div>
		</div>
	</section>
}
