@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}

<main id="main" class="o-page__content" role="main">
	@{
        var cover = new CoverViewModel {
            ImageId = Model.GetPropertyValue<int>("coverImage"),
			Headline = Model.HasValue("coverHeadline") ? Model.GetPropertyValue<string>("coverHeadline") : Model.Name,
			Subtitle = Model.GetPropertyValue<IHtmlString>("coverSubtitle"),
			SubtitleLabel = Model.GetPropertyValue<string>("coverSubtitleLabel"),
			Copy = Model.GetPropertyValue<IHtmlString>("coverCopy"),
			Cta = Model.GetPropertyValue<string>("coverC ta")
    	};

	    @Html.Partial("~/Views/Partials/Components/Cover.cshtml", cover)
	}

	@RenderIntro()
	@RenderIntroImages()
    @RenderQuote("First quote. We've had great feedback on the new site...")
	@RenderCityCulture()
	@RenderCityCultureImages()
    @RenderCreative()

	@{
		var creativeImage = new ImageViewModel
        {
            ImageId = 1102,
            Alignment = "Full width",
            AspectRatio = "16:9",
            ImageWidth = 1600
        };

        @Html.Partial("~/Views/Partials/Components/Image.cshtml", creativeImage)
	}

    @RenderPhotography()
	@RenderWebsite()

	@{
		var websiteImage = new ImageViewModel
        {
            ImageId = 1113,
            Alignment = "Full width",
            AspectRatio = "16:9",
            ImageWidth = 1600
        };

        @Html.Partial("~/Views/Partials/Components/Image.cshtml", websiteImage)
	}

	@RenderAdvertising()
	@RenderIntegration()

	@RenderResult()
	@RenderQuote("Second quote, if we have one. Our last quarter saw the highest percentage of online bookers so far.")

	@RenderPager()
</main>

@helper RenderIntro() {
	var heading = new HeadingViewModel {
        Headline = "Intro",
        Subtitle = "A pioneering northern voice"
    };
	<section class="o-section u-background--light u-clearfix">
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					<p>Hull Truck are a pioneering theatre with a unique, powerful, contemporary Northern Voice, locally rooted and national in reach, inspiring artists, exciting audiences and supporting communities to reach their greatest potential.</p>
					<p>They produce and present exciting and culturally relevant theatre in our building, our community and out on tour. </p>
				</div>
				<div class="o-col o-col--last js-ht-stats-1">
					@RenderStats()
				</div>
			</div>
		</div>
	</section>
}

@helper RenderIntroImages() {
	var image1 = Umbraco.TypedMedia(1107);
	var image1Url = image1 != null ? image1.Url : "";

	var image2 = Umbraco.TypedMedia(1108);
	var image2Url = image2 != null ? image2.Url : "";

	<section class="c-image-col s-hullTruckCaseStudy__image-cols--intro u-clearfix">
		<div class="c-image-col__col c-image-col__col--first s-hullTruckCaseStudy__image-cols__col">
			<img src="@image1Url" alt="" class="c-image-col__image">
		</div>
		<div class="c-image-col__col s-hullTruckCaseStudy__image-cols__col">
			<img src="@image2Url" alt="" class="c-image-col__image">
		</div>
	</section>
}

@helper RenderQuote(string quote = "") {
    <section class="o-section u-background--pri">
		<blockquote class="c-quote o-section__inner o-wrap o-wrap--medium">
	        <div class="c-quote__copy u-font-sec">
	            <p>@quote</p>
	        </div>
            <footer class="c-quote__src">
				Ruth, Hull Truck Theatre
			</footer>
	    </blockquote>
	</section>
}

@helper RenderCityCulture() {
	var heading = new HeadingViewModel {
        Headline = "Hull, city of culture",
        Subtitle = "Helping Hull acheive their city of culture status"
    };

	var image = Umbraco.TypedMedia(1112);
	var imageUrl = "";
	if( image != null ) {
		imageUrl = image.Url + "?width=560";
	}

    <section class="o-section s-hullTruckCaseStudy__city-culture">
		<img src="@imageUrl" alt="" class="s-hullTruckCaseStudy__city-culture__image u-anim u-anim-duration-20" data-scroll="toggle(slideInRight, slideOutRight)">
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
	                <p>Every 4 years a city is award the title of city of culture. This title is given to a city that believes in the transformational power of culture. 2017 is the turn of Hull.</p>
	                <p>Hull Truck Theatre had a key role in the representation of their city. As such they wanted a new look and feel for all their creative output. TGDH were lucky enough to win the pitch and have been instrumental in the creation of all the show artwork.</p>
				</div>
			</div>
		</div>
	</section>
}

@helper RenderCityCultureImages() {
	var image1 = Umbraco.TypedMedia(1104);
	var image1Url = image1 != null ? image1.Url : "";

	var image2 = Umbraco.TypedMedia(1105);
	var image2Url = image2 != null ? image2.Url : "";

	<section class="c-image-col s-hullTruckCaseStudy__image-cols--city-culture u-clearfix">
		<div class="c-image-col__col c-image-col__col--first s-hullTruckCaseStudy__image-cols__col">
			<img src="@image1Url" alt="" class="c-image-col__image">
		</div>
		<div class="c-image-col__col s-hullTruckCaseStudy__image-cols__col">
			<img src="@image2Url" alt="" class="c-image-col__image">
		</div>
	</section>
}



@helper RenderCreative() {
	var heading = new HeadingViewModel {
        Headline = "Creative",
        Subtitle = "Powerful and intriguing meets gritty and modern."
    };

	var image1 = new ImageViewModel
	{
		ImageId = 1103,
		ImageWidth = 1000,
		AdditionalClass = "s-hullTruckCaseStudy__creative__image-main"
	};

	var bgImage = Umbraco.TypedMedia(1101);
	var bgImageUrl = bgImage != null ? bgImage.Url + "?width=500&upscale=false" : "";

    <section class="o-section s-hullTruckCaseStudy__creative" style="background-image: url(@bgImageUrl)">
		<div class="o-section__inner o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
                    <p>It was important the artwork was as flexible as possible in layout and construction. It is not constrained by background colour or texture – therefore removal of the background makes it flexible and adaptable when applied to various formats.</p>
                    <p>All the show artwork is visually powerful and intriguing to attract audiences with built-in references to the plays story and/or characters. </p>
				</div>
			</div>
		</div>
		@Html.Partial("~/Views/Partials/Components/Image.cshtml", image1)
	</section>
}

@helper RenderPhotography() {
    var heading = new HeadingViewModel {
        Headline = "Photography",
        Subtitle = "Contemporary, gritty and modern",
		IsCenter = true
    };

	var comparisonImages = new ImageComparisonViewModel {
        BeforeImageId = 1111,
		AfterImageId = 1110
    };

    <section class="o-section u-background--light s-hullTruckCaseStudy__photography">
		<div class="o-section__inner o-wrap o-wrap--medium">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<p>Each new show of 2017 needed new imagary. Using our in-house talents, TGDH were able to craft simple photoshoots into powerful images, each containing backgrounds and props, specific to the show&#x27;s content. The overall style is contemporary, gritty and modern. </p>
		</div>

		<div class="o-wrap o-wrap--large u-space-top--large s-hullTruckCaseStudy__photography__image-comparison">
			@Html.Partial("~/Views/Partials/Components/ImageComparison.cshtml", comparisonImages)
		</div>
	</section>
}

@helper RenderWebsite() {
	var heading = new HeadingViewModel {
        Headline = "Website",
        Subtitle = "Maecenas sed diam eget risus."
    };

	var heading2  = new HeadingViewModel {
		Headline = "Big personality",
	};

	var heading3  = new HeadingViewModel {
		Headline = "Theatre on the move",
	};

	var heading4  = new HeadingViewModel {
		Headline = "Hassle free booking",
	};


	<section>
		<div class="o-section o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					<p><strong>hulltruck.co.uk</strong> combines a creative solution with a powerful open source CMS and a cutting edge ticketing system.</p>
					<a href="#" class="c-button c-button--primary u-space-top--large">Launch site</a>
				</div>
			</div>
		</div>



		<div class="o-wrap o-wrap--x-large c-image-offset-column u-clearfix">
            <div class="c-image-offset-column__col c-image-offset-column__col--first c-image-offset-column__col--content">
    			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading2)
    			<p>The personality of each show is really given the chance to shine with full bleed large scale images and minimal intrusion form the text.</p>
            </div>
            <div class="c-image-offset-column__col c-image-offset-column__col--last c-image-offset-column__col--image u-anim u-anim-duration-20"  data-scroll="toggle(slideInRight, slideOutRight) addHeight(false)">
				@RenderDesktopImage(1121, "top")
            </div>
		</div>



		<div class="o-section o-wrap o-wrap--x-large c-image-offset-column c-image-offset-column--reverse u-clearfix">
			<div class="c-image-offset-column__col c-image-offset-column__col--first c-image-offset-column__col--content">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading3)
				<p>A fully responsive site means that the user wont get a lesser experience just because they’re using a smaller device. From watching trailers to booking tickets, everything can be done no matter what device their using.</p>
			</div>
			<div class="c-image-offset-column__col c-image-offset-column__col--last c-image-offset-column__col--image c-mobile-frame--wrap-two u-clearfix">
				@RenderMobileImage(1124, "top")
				@RenderMobileImage(1123, "top")
			</div>
		</div>


		<div class="o-wrap o-wrap--x-large c-image-offset-column u-clearfix">
			<div class="c-image-offset-column__col c-image-offset-column__col--first c-image-offset-column__col--content">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading4)
				<p>Fewer clicks means happier customers and time saved at the box office. Features of the ticketing system such as best seat in the house, stored payment details and automatic renewal of memberships give users the best possible booking experience.</p>
			</div>
			<div class="c-image-offset-column__col c-image-offset-column__col--last c-image-offset-column__col--image">
				@RenderDesktopImage(1122)
			</div>
		</div>
	</section>
}

@helper RenderMobileImage(int imageId = 0, string cropAnchor = "") {
	var image = Umbraco.TypedMedia(imageId);
	var imageUrl = image != null ? image.Url + "?width=375&height=667&mode=crop&anchor=" + cropAnchor : "";

	<div class="c-mobile-frame">
		<img src="@imageUrl" alt="" class="c-mobile-frame__image">
	</div>
}

@helper RenderDesktopImage(int imageId = 0, string cropAnchor = "") {
	var image = Umbraco.TypedMedia(imageId);
	var imageUrl = image != null ? image.Url + "?width=860&height=640&mode=crop&anchor=" + cropAnchor : "";
	<div class="c-desktop-frame">
		<img src="@imageUrl" alt="" class="c-desktop-frame__image">
	</div>
}


@helper RenderAdvertising() {
	var heading = new HeadingViewModel {
        Headline = "Advertising",
        Subtitle = "An adaptable approach"
    };

	<section class="o-section s-hullTruckCaseStudy__advertisting">
		@{
			var image1 = new ImageViewModel
			{
				ImageId = 1100,
				ImageWidth = 400,
				AdditionalClass = "s-hullTruckCaseStudy__advertisting__image-col s-hullTruckCaseStudy__advertisting__image-col--first"
			};
			var image2 = new ImageViewModel
			{
				ImageId = 1098,
				ImageWidth = 400,
				AdditionalClass = "s-hullTruckCaseStudy__advertisting__image-col s-hullTruckCaseStudy__advertisting__image-col--last"
			};

			var image3 = new ImageViewModel
			{
				ImageId = 1099,
				ImageWidth = 800,
				AdditionalClass = "s-hullTruckCaseStudy__advertisting__image-main"
			};
		}

		<div class="o-section__inner o-wrap o-wrap--x-large s-hullTruckCaseStudy__advertisting__content">
			@Html.Partial("~/Views/Partials/Components/Image.cshtml", image3)
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					<p>The creative concept for the new shows lends itself perfectly to advertising no matter what format. By using strong colours with simple unconstrained images, each show can be represented with the same presence and impact.</p>

					<div class="s-hullTruckCaseStudy__advertisting__image-cols u-clearfix u-space-top--large">
						@Html.Partial("~/Views/Partials/Components/Image.cshtml", image1)
						@Html.Partial("~/Views/Partials/Components/Image.cshtml", image2)
					</div>
				</div>
			</div>
		</div>
	</section>
}

@helper RenderIntegration() {
	var heading = new HeadingViewModel {
        Headline = "Third party integration",
        Subtitle = "Maecenas sed diam eget risus."
    };

	var cardModel = new CardViewModel {
        Id = 0,
        Headline = "Taking the pain out of integrating third party software into your website.",
        CoverImage = Umbraco.TypedMedia(1086),
		Thumbnail = Umbraco.TypedMedia(1088),
        Url = "#"
    };

	var spektrixLogo = new ImageViewModel
	{
		ImageId = 1126,
		ImageWidth = 195
	};

	<section class="o-section u-background--light">
		<div class="o-section__inner o-wrap o-wrap--x-large">
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
					<a href="https://www.spektrix.com" class="u-space-top u-space-bottom" style="width: 19.5rem; display: block;" target="_blank">
						@Html.Partial("~/Views/Partials/Components/Image.cshtml", spektrixLogo)
					</a>

					<p>The website uses a modern fully integrateded, cloud based, seamless ticketing solution, which truely understands the needs of arts organisations. Shows are synced between the website and Spektix saving time and eliminating errors when uploading new shows.</p>
				</div>
				<div class="o-col o-col--last">
					<h3 class="u-zeta">Further reading</h3>
					<div class="u-anim" data-scroll="toggle(fadeInUp, fadeOutDown)">
						@Html.Partial("~/Views/Partials/Components/Card.cshtml", cardModel)
					</div>
				</div>
			</div>
		</div>
	</section>

}

@helper RenderResult() {

	var heading = new HeadingViewModel {
        Headline = "Result",
        Subtitle = "Maecenas sed diam eget risus."
    };

	<section class="o-section">
		<div class="o-section__inner o-wrap o-wrap--x-large">
			<div class="o-col--two-one u-clearfix">
				<div class="o-col o-col--first">
					@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
					<p>Donec sed odio dui. Curabitur blandit tempus porttitor. Sed posuere consectetur est at scelerisque nisl consectetur et. Donec sed odio dui. Donec sed odio dui. Curabitur blandit tempus porttitor. Sed posuere consectetur est at lobortis.</p>
				</div>
				<div class="o-col o-col--last js-ht-stats-2">
					@RenderStats()
				</div>
			</div>
		</div>
	</section>

}

@helper RenderStats() {
	<div class="o-stat js-stat">
		<span class="o-stat__label">ROI statistic</span>
		<span class="o-stat__fig u-font-sec u-giga">23:1</span>
	</div>
	<div class="o-stat js-stat">
		<span class="o-stat__label">Usage statistic</span>
		<span class="o-stat__fig u-font-sec u-giga">66<sup>%</sup></span>
	</div>
}



@helper RenderPager() {
	var image = Umbraco.TypedMedia(1095);
	var imageUrl = image != null ? image.Url : "";

	<nav class="c-pager u-clearfix">
		<a href="#" class="c-pager__page c-pager__page--prev">
			<svg class="u-icon u-icon--32 u-icon--invert c-pager__page__icon">
				<use xlink:href="/assets/icons/icons.svg#arrow-left"></use>
			</svg>
			<strong class="c-pager__page__headline">St Wilfrid&#x27;s Hospice</strong>
			<ul class="c-pager__meta u-font-sec">
				<li class="c-pager__meta__item">
					<span class="c-pager__meta__value">Website</span>
				</li>
			</ul>
			<div class="c-pager__page__image" style="background-image:url(@imageUrl);"></div>
		</a>

		<a href="" class="c-pager__cta">
			<strong class="c-pager__cta__headline">All projects</strong>
			<svg class="u-icon c-pager__cta__icon">
				<use xlink:href="/assets/icons/icons.svg#grid"></use>
			</svg>
		</a>

		<a href="#" class="c-pager__page c-pager__page--next">
			<svg class="u-icon u-icon--32 u-icon--invert c-pager__page__icon">
				<use xlink:href="/assets/icons/icons.svg#arrow-right"></use>
			</svg>
			<strong class="c-pager__page__headline">Arsenal</strong>
			<ul class="c-pager__meta u-font-sec">
				<li class="c-pager__meta__item">
					<span class="c-pager__meta__value">Marketing</span>
				</li>
				<li class="c-pager__meta__item">
					<span class="c-pager__meta__value">Advertising</span>
				</li>
			</ul>
			<div class="c-pager__page__image" style="background-image:url(@imageUrl);"></div>
		</a>
	</nav>

}
