@using System.Web.Mvc.Html
@using TGDH.Core.Data
@using TGDH.Core.Utility
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
	var allposts = JournalRepository.AllPosts(Umbraco).ToList();
	var paging = Paging.GetPages(allposts.Count);
	var selection = allposts.Skip(paging.Skip).Take(paging.Take).ToList();

	var coverModel = new CoverViewModel {
		ImageIds = Model.GetPropertyValue<string>("coverImage"),
		Headline = Model.HasValue("coverHeadline") ? Model.GetPropertyValue<string>("coverHeadline") : Model.Name,
		Subtitle = Model.GetPropertyValue<IHtmlString>("coverSubtitle"),
		SubtitleLabel = Model.GetPropertyValue<string>("coverSubtitleLabel"),
		Copy = Model.GetPropertyValue<IHtmlString>("coverCopy"),
		Cta = Model.GetPropertyValue<string>("coverCta")
	};
}

<main id="main" class="o-page__content" role="main">
	@Html.Partial("~/Views/Partials/Components/Cover.cshtml", coverModel)
	@RenderFeatured()


	<div id="posts" class="o-wrap o-wrap--x-large o-section o-col--two-one u-clearfix">
		@{
			var journalHeading = new HeadingViewModel {
				Headline = "All articles",
				Subtitle = "Maecenas sed diam eget risus."
			};
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", journalHeading)
		}
		<div class="o-col o-col--first">
			@if( selection.Any() ) {
				foreach( var item in selection ) {
				    var articleSnippet = new ArticleSummaryViewModel {
				        Url = item.Url,
						Headline = item.Name,
						Subtitle = "Aenean lacinia bibendum nulla sed consectetur.",
						Copy = item.GetPropertyValue<string>("pageDescription")
				    };
					@Html.Partial("~/Views/Partials/Components/ArticleSummary.cshtml", articleSnippet);
				}
				<nav class="c-pagination">
	                @PagingTemplate.RenderPaging(paging, Model.Id)
	            </nav>
			} else {
				<p>Sorry, we're all out of posts</p>
			}
		</div>
		<div class="o-col o-col--last">
			@Html.Partial("~/Views/Partials/Journal/Categories.cshtml")
		</div>
	</div>
</main>

@helper RenderFeatured() {
	<section class="o-section u-background--light">
		<div class="o-wrap o-wrap--x-large u-clearfix o-col--two-one">
			<div class="o-col o-col--first">
				<p>test</p>
			</div>
			<div class="o-col o-col--last">
				<p>test</p>
			</div>
		</div>
	</section>
}
