@using Umbraco.Web
@using Umbraco.Web.Mvc
@using System.Text.RegularExpressions
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = null;

    Regex rgx = new Regex( "[^0-9a-zA-Z]+" );
    string pageScope = "s-" + rgx.Replace( Model.DocumentTypeAlias , "");
}
<!doctype html>
<html lang="en" class="no-enhance @pageScope">
	<head itemscope itemtype="http://schema.org/WebSite">
		<meta content="The Graphic Design House" itemprop="name">
        <meta charset="utf-8">
		<!-- <meta name="author" content="" /> -->
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />
		<meta name="robots" content="index,follow" />
		<!-- <meta name="google-site-verification" content=""> -->

        @Html.Partial("~/Views/Partials/Page/SEO.cshtml")

		<!-- <link rel="canonical" href="http://tgdh.co.uk" itemprop="url"> -->
		<link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
		<link rel="apple-touch-icon" type="image/png" href="/assets/img/home-icon.png" />
		<link rel="manifest" href="/manifest.json" />
		<link rel="stylesheet" href="/assets/css/style.css" />

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->

		<script>
			var $html = document.documentElement;
			var enhance = 'querySelector' in document
				&& 'localStorage' in window
				&& 'addEventListener' in window
				&& 'classList' in document.documentElement;
			$html.classList.remove( 'no-js' );
			$html.classList.add( 'js' );
			if( enhance ) {
				$html.classList.remove( 'no-enhance' );
				$html.classList.add( 'enhance' );
				if( localStorage.getItem( 'fonts-loaded' ) ) {
					$html.classList.add( 'fonts-loaded' );
				}
			}
		</script>
    </head>
    <body class="o-page">
		@Html.Partial("~/Views/Partials/Page/Notifications.cshtml")
        @Html.Partial("~/Views/Partials/Page/Header.cshtml")
        @RenderBody()
        @Html.Partial("~/Views/Partials/Page/Footer.cshtml")

        <!--[if gte IE 9]><!-->
            <script src="/assets/js/main.js"></script>
        <!--<![endif]-->

		@Html.Partial("~/Views/Partials/Page/Analytics.cshtml")

        <!--[if (gte IE 6)&(lte IE 8)]>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
        <![endif]-->

		<div itemscope itemtype="http://schema.org/Organization">
		    <link href="http://tgdh.co.uk" itemprop="url">
		    <meta content="http://tgdh.co.uk/assets/img/home-icon.png" itemprop="logo">
		</div>
    </body>
</html>
