@using Umbraco.Web
@using Umbraco.Web.Mvc
@using System.Text.RegularExpressions
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = null;

    Regex rgx = new Regex( "[^0-9a-zA-Z]+" );
    string pageScope = "s-" + rgx.Replace( Model.DocumentTypeAlias , "");
}
<!doctype html>
<html lang="en" class="no-enhance no-js @pageScope">
	<head itemscope itemtype="http://schema.org/WebSite">
		<meta content="The Graphic Design House" itemprop="name">
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />
		<!-- <meta name="google-site-verification" content=""> -->
        @Html.CachedPartial("~/Views/Partials/Page/SEO.cshtml", Model, 43200, true)
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="manifest" href="/manifest.json" />
		<link rel="stylesheet" href="/assets/css/style.5f8c4b44.css" />
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
		<script src="/assets/js/modernizr.js" async></script>
		<script>
			var $html = document.documentElement;
			var enhance = 'querySelector' in document
				&& 'localStorage' in window
				&& 'addEventListener' in window
				&& 'classList' in document.documentElement;
			$html.classList.remove('no-js');
			$html.classList.add('js');
			if( enhance ) {
			  	$html.classList.remove( 'no-enhance' );
			  	$html.classList.add( 'enhance' );
				if( localStorage.getItem( 'fonts-loaded' ) ) {
		        	$html.classList.add( 'fonts-loaded' );
			    }
			}
		</script>
		@*
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
		*@
		<script type="text/javascript" src="http://www.1-creative-1.com/js/21196.js" async></script>
		<noscript><img src="http://www.1-creative-1.com/21196.png" style="display:none;" /></noscript>
    </head>
    <body class="o-page">
		<div class="o-page__inner">
			@Html.Partial("~/Views/Partials/Page/Notifications.cshtml")
	        @Html.CachedPartial("~/Views/Partials/Page/Header.cshtml", Model, 43200, true)
	        @RenderBody()
		</div>
		@Html.CachedPartial("~/Views/Partials/Modules/Pager.cshtml", Model, 43200, true)
        @Html.CachedPartial("~/Views/Partials/Page/Breadcrumbs.cshtml", Model, 43200, true)
		@Html.CachedPartial("~/Views/Partials/Page/Footer.cshtml", Model, 43200)

		<script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,MutationObserver,Element.prototype.dataset,Array.prototype.includes"></script>

		<!--[if gte IE 9]><!-->
			<script
				src="https://code.jquery.com/jquery-3.3.1.min.js"
				integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
				crossorigin="anonymous"></script>
			<script src="/assets/js/main.min.4.js"></script>
			<script src="/assets/js/select2.js"></script>
			<script src="/assets/js/legacy.4507dfe5.js"></script>
        <!--<![endif]-->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
		<script>
			window.cookieconsent.initialise({
				"palette": {
					"popup": {
						"background": "#ffffff",
						"text": "#000000"
					},
					"button": {
						"background": "#000000",
						"text": "#ffffff"
					}
				},
				"content": {
					"dismiss": 'I accept',
					"href": '/cookie-policy/',
					"link": 'find out more about our cookies.',
					"message": 'This website uses cookies to ensure you get the best experience on our website. Please accept to remove this banner or '
				}
			});
		</script>
		@Html.Partial("~/Views/Partials/Page/Analytics.cshtml")
		@RenderSection("Scripts", required: false)

        <!--[if (gte IE 6)&(lte IE 8)]>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
        <![endif]-->

		<div itemscope itemtype="http://schema.org/Organization">
		    <link href="http://tgdh.co.uk" itemprop="url">
		    <meta content="http://tgdh.co.uk/assets/img/home-icon.png" itemprop="logo">
		</div>
    </body>
</html>
