@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
	var headline = Model.HasValue("headline") ? Model.GetPropertyValue<string>("headline") : Model.Name;
}

<main id="main" class="o-page__content" role="main">
	<div class="o-page__content__wrap u-clearfix s-free-content">
		<h1 class="o-wrap o-wrap--small u-beta">@headline</h1>

		@RenderAuthor()
		@Html.CachedPartial("~/Views/Partials/Page/PageComponents.cshtml", Model, 43200, true)
		<div class="o-wrap o-wrap--small u-space-top--large">
			@Html.CachedPartial("~/Views/Partials/Page/SocialShare.cshtml", Model, 43200, true)
		</div>
    </div>
	@Html.CachedPartial("~/Views/Partials/Journal/RelatedJournalPosts.cshtml", Model, 43200, true)
</main>

@helper RenderAuthor() {
	var author = Umbraco.TypedContent(Model.GetPropertyValue<int>("author"));
	if( author == null ) {
		return;
	}
	var authorModel = new AuthorViewModel {
		ImageId = author.GetPropertyValue<int>("profilePicture"),
		AuthorName = author.Name,
		JobTitle = author.GetPropertyValue<string>("jobTitle"),
		ModifierClass = "o-wrap o-wrap--small"
	};
	@Html.CachedPartial("~/Views/Partials/Components/Author.cshtml", authorModel, 43200, true)
}
