@inherits UmbracoViewPage<CardViewModel>
@{
	if(string.IsNullOrWhiteSpace(Model.Url)) {
		return;
	}
}
<article class="c-card @Model.ModifierClass">
    <a href="@Model.Url" class="c-card__link">
		@if (Model.CoverImage != null)
        {
            var imageUrl = Url.GetCropUrl(Model.CoverImage, cropAlias:  "21:9", width: 400, quality: 95, htmlEncode: false).ToString();

            <div class="c-card__image-wrap o-aspect--21-9">
                <img src="@imageUrl" class="c-card__image" alt="@Model.Headline"/>
            </div>
        }

        <div class="c-card__content">
			@if (Model.Thumbnail != null)
	        {
	            var imageUrl = Url.GetCropUrl(Model.Thumbnail, cropAlias:  "1:1", width: 124, quality: 95, htmlEncode: false).ToString();

	            <div class="c-card__thumb-wrap o-aspect--1-1">
	                <img src="@imageUrl" class="c-card__thumb" alt="@Model.Headline"/>
	            </div>
	        }

			@if(!String.IsNullOrWhiteSpace(Model.Headline))
			{
				if(!String.IsNullOrWhiteSpace(Model.Category))
				{
					<div class="c-card__category u-font-sec">@Model.Category</div>
				}
	            <h2 class="c-card__headline u-epsilon">@Model.Headline</h2>
			}
        </div>
    </a>
</article>
