@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
	var image = Umbraco.TypedMedia(1106);
}

<section class="c-cover u-clearfix">
	@RenderImage(image)
	<div class="c-cover__content o-wrap">
		<div class="c-cover__copy">
			<h2 class="c-cover__headline">Hull Truck Theatre</h2>
			<ul class="c-cover__meta c-meta u-font-sec">
				<li class="c-meta__item">
					<span class="c-meta__value">Creative</span>
				</li>
				<li class="c-meta__item">
					<span class="c-meta__value">Photography</span>
				</li>
				<li class="c-meta__item">
					<span class="c-meta__value">Website</span>
				</li>
				<li class="c-meta__item">
					<span class="c-meta__value">Advertising</span>
				</li>
			</ul>
			<p>Website creation and integration with Spektrix booking system.</p>
			<a href="" class="c-button c-button--primary u-space-top--large">Launch site</a>
		</div>
	</div>
</section>

@helper RenderImage(IPublishedContent image) {
	var altText = image.GetPropertyValue<string>("altText");

	string smallImageUrl = Url.GetCropUrl(
		image,
		cropAlias: "5:54",
		width: 800,
		htmlEncode: false
	).ToString();

	string mediumImageUrl = Url.GetCropUrl(
		image,
		cropAlias: "5:54",
		width: 1000,
		htmlEncode: false
	).ToString();

	string largeImageUrl = Url.GetCropUrl(image,
		cropAlias: "5:54",
		width: 1350,
		htmlEncode: false
	).ToString();

	string xLargeImageUrl = Url.GetCropUrl(
		image,
		cropAlias: "5:54",
		width: 1500,
		htmlEncode: false
	).ToString();

	string xxLargeImageUrl = Url.GetCropUrl(image,
		cropAlias: "5:54",
		width: 900,
		htmlEncode: false
	).ToString();

	string xxxLargeImageUrl = Url.GetCropUrl(
		image,
		cropAlias: "5:54",
		width: 1200,
		htmlEncode: false
	).ToString();

	<div class="c-cover__media" style="background-image: url(@xLargeImageUrl&quality=95);">
		<div class="c-cover__decoration" role="decoration"></div>
	</div>
}

@helper RenderImage2(IPublishedContent image) {
	var altText = image.GetPropertyValue<string>("altText");

	string smallImageUrl = Url.GetCropUrl(
		image,
		cropAlias: "5:54",
		width: 800,
		htmlEncode: false
	).ToString();

	string mediumImageUrl = Url.GetCropUrl(
		image,
		cropAlias: "5:54",
		width: 1000,
		htmlEncode: false
	).ToString();

	string largeImageUrl = Url.GetCropUrl(image,
		cropAlias: "5:54",
		width: 1350,
		htmlEncode: false
	).ToString();

	string xLargeImageUrl = Url.GetCropUrl(
		image,
		cropAlias: "5:54",
		width: 1500,
		htmlEncode: false
	).ToString();

	string xxLargeImageUrl = Url.GetCropUrl(image,
		cropAlias: "5:54",
		width: 900,
		htmlEncode: false
	).ToString();

	string xxxLargeImageUrl = Url.GetCropUrl(
		image,
		cropAlias: "5:54",
		width: 1200,
		htmlEncode: false
	).ToString();

	<div class="c-cover__media">
		<div class="c-cover__decoration" role="decoration"></div>
		<picture class="c-cover__media-wrap">
			<!--[if IE 9]><video style="display: none;"><![endif]-->
			<source srcset="@xxxLargeImageUrl" data-srcset="@xxxLargeImageUrl" media="(min-width: 1800px)">
			<source srcset="@xxLargeImageUrl" data-srcset="@xxLargeImageUrl" media="(min-width: 1500px)">
			<source srcset="@xLargeImageUrl" data-srcset="@xLargeImageUrl" media="(min-width: 1280px)">
			<source srcset="@largeImageUrl" data-srcset="@largeImageUrl" media="(min-width: 800px)">
			<source srcset="@mediumImageUrl" data-srcset="@mediumImageUrl" media="(min-width: 600px)">
			<source srcset="@smallImageUrl" data-srcset="@smallImageUrl" media="(max-width: 599px)">
			<!--[if IE 9]></video><![endif]-->
			<img src="@xLargeImageUrl&quality=18" data-src="@xLargeImageUrl" alt="@altText" class="c-cover__image js-lazyload" alt="@altText">
		</picture>
	</div>
}
