@inherits UmbracoViewPage<ImageComparisonViewModel>
@{
	var beforeImage = Umbraco.TypedMedia(Model.BeforeImageId);

	if (beforeImage == null)
    {
        return;
    }

	var afterImage = Umbraco.TypedMedia(Model.AfterImageId);
	if (afterImage == null)
	{
		return;
	}
}


<div class="wrapper">
	<div class="js-image-comparison">
		@RenderImage(beforeImage)
		@RenderImage(afterImage)
	</div>
</div>


@helper RenderImage(IPublishedContent image) {
	var aspectRatio = "16:9";

	var imageUrlSmall = Url.GetCropUrl(image, cropAlias: aspectRatio, width: 500, quality: 85, upScale: false, htmlEncode: false).ToString();
    var imageUrlMedium = Url.GetCropUrl(image, cropAlias: aspectRatio, width: 1000, quality: 85, upScale: false, htmlEncode: false).ToString();
    var imageUrlLarge = Url.GetCropUrl(image, cropAlias: aspectRatio, width: Model.ImageWidth, quality: 85, upScale: false, htmlEncode: false).ToString();

    var altText = image.GetPropertyValue<string>("altText");

  	<img class="comparison-image js-lazyload"
     src="@imageUrlSmall"
     data-srcset="@imageUrlSmall 500w, @imageUrlMedium 1000w, @imageUrlLarge @(Model.ImageWidth)w"
     alt="@altText"/>
}
