@inherits UmbracoViewPage<IPublishedContent>
@{
	var blocks = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("contentBlocks").ToContentSet();
}
<main id="main" role="main">
	@Html.Partial("~/Views/Partials/Campaigns/Modular/Cover.cshtml")
	@foreach (var block in blocks)
	{
		var sectionColour = "u-background--white";
		var bgColour = "ffffff";
		var blockId = "section-" + (blocks.IndexOf(block) + 1);

		if (block.HasValue("backgroundColour") && block.GetPropertyValue<string>("backgroundColour") == "Light grey")
		{
			sectionColour = "u-background--light";
			bgColour = "f9f9f9";
		}

		if (block.HasValue("hashTarget") && !string.IsNullOrEmpty(block.GetPropertyValue<string>("hashTarget").Trim()))
		{
			blockId = block.GetPropertyValue<string>("hashTarget").Trim();
		}
		
		switch (block.DocumentTypeAlias)
		{
			case "clientsBlock":
				var clientsBlockHeading = new HeadingViewModel
				{
					Headline = block.GetPropertyValue<string>("title"),
					Subtitle = block.GetPropertyValue<string>("subtitle")
				};

				<section id="@blockId" class="o-section @(Umbraco.If(block.IsFirst(), "o-section--first")) @(Umbraco.If(block.IsLast(), "o-section--last")) @sectionColour">
					<div class="o-wrap o-wrap--x-large">
						@Html.Partial("~/Views/Partials/Components/Heading.cshtml", clientsBlockHeading)
						@{
				var logos = new LogoListingViewModel
				{
					LogoListing = block.GetPropertyValue<IEnumerable<IPublishedContent>>("clientLogos"),
					ModifierClass = "c-logo-grid u-clearfix u-space-top--large"
				};
				@Html.Partial("~/Views/Partials/Components/LogoListing.cshtml", logos);
						}
					</div>
					@if (block.IsLast())
					{
						<div id="get-in-touch"></div>
					}
				</section>

				break;
			case "galleryBlock":
				var galleryBlockHeading = new HeadingViewModel
				{
					Headline = block.GetPropertyValue<string>("title"),
					Subtitle = block.GetPropertyValue<string>("subtitle")
				};

				<section id="@blockId" class="o-section @(Umbraco.If(block.IsFirst(), "o-section--first")) @(Umbraco.If(block.IsLast(), "o-section--last")) @sectionColour">
					<div class="o-wrap o-wrap--x-large">
						@Html.Partial("~/Views/Partials/Components/Heading.cshtml", galleryBlockHeading)
						@if (!string.IsNullOrEmpty(block.GetPropertyValue<string>("gallery")))
						{
							var galleryIds = block.GetPropertyValue<string>("gallery").Split(new[] { "," }, StringSplitOptions.RemoveEmptyEntries);
							var galleryImages = Umbraco.TypedMedia(galleryIds);

							<div class="c-portfolio-gallery">
								@foreach (var image in galleryImages)
								{
									<div class="c-portfolio-gallery__item o-aspect--1-1">
										<img class="c-portfolio-gallery__image" src="@image.Url.GetCropUrl(width: 800, furtherOptions: "&format=jpg&bgcolor=" + bgColour)" alt="@(image.GetPropertyValue<string>("altText"))" />
									</div>
								}
							</div>
						}
					</div>
					@if (block.IsLast())
					{
						<div id="get-in-touch"></div>
					}
				</section>
				break;
			case "textWithList":
				var textWithListHeading = new HeadingViewModel
				{
					Headline = block.GetPropertyValue<string>("title"),
					Subtitle = block.GetPropertyValue<string>("subtitle")
				};
				var lists = block.GetPropertyValue<IEnumerable<IPublishedContent>>("list");

				<section id="@blockId" class="o-section @(Umbraco.If(block.IsFirst(), "o-section--first")) @(Umbraco.If(block.IsLast(), "o-section--last")) @sectionColour">
					<div class="o-wrap o-wrap--x-large">
						@Html.Partial("~/Views/Partials/Components/Heading.cshtml", textWithListHeading)
						<div class="o-col--two-one u-clearfix">
							<div class="o-col o-col--first">
								@block.GetPropertyValue("text")
							</div>
							<div class="o-col o-col--last">
								@if (lists != null)
								{
									foreach (var list in lists)
									{
										var services = list.GetPropertyValue<string[]>("list");

										<div class="u-clearfix u-space-top">
											<h3 class="u-zeta">@(list.GetPropertyValue<string>("title"))</h3>
											@if (services != null)
											{
												<ul class="o-list--col-two u-font-sec u-font--small">
													@foreach (var item in services)
													{
														<li>@item</li>
													}
												</ul>
											}
										</div>
									}
								}
							</div>
						</div>
					</div>

					@if (block.IsLast())
					{
						<div id="get-in-touch"></div>
					}
				</section>

				break;
		}
	}
</main>
