@using TGDH.Core.ExtensionMethods
@inherits UmbracoViewPage<IPublishedContent>
@{
    var selection = Model.AncestorsOrSelf().Where(x =>x.IsVisible() && x.Level != 1 && x.TemplateId > 0).OrderBy(x => x.Level);
	var aboutPage = Umbraco.TypedContent(TGDH.Core.Constants.AboutPageId);
}
@if( Model.Level == 1 ) {
	<nav role="navigation" class="c-breadcrumb u-font-sec">
        <p id="breadcrumb-label" class="c-breadcrumb__label">You are here:</p>
        <ol id="breadcrumb" class="c-breadcrumb__list" aria-labelledby="breadcrumb-label">
            <li class="c-breadcrumb__item">
                <a href="@Model.Url" class="c-breadcrumb__link is-active" title="Home">
                    The Graphic Design House
                </a>
            </li>
        </ol>
    </nav>
} else if (selection.Any())
{
    <nav role="navigation" class="c-breadcrumb u-font-sec">
        <p id="breadcrumb-label" class="c-breadcrumb__label">You are here:</p>
        <ol id="breadcrumb" class="c-breadcrumb__list" aria-labelledby="breadcrumb-label">
            @foreach (var listItem in selection)
            {
				var modifierClass = Model.Level == listItem.Level ? "is-active" : "";
				var pageUrl = listItem.DocumentTypeAlias == "careers" && aboutPage != null ? aboutPage.Url + "#careers" : listItem.Url;
                <li class="c-breadcrumb__item">
                    <a href="@pageUrl" class="c-breadcrumb__link @modifierClass" title="@listItem.Name">
						@StringExtensionMethods.TruncateAtWord(listItem.Name, 20)
                    </a>
                </li>
            }
        </ol>
    </nav>
}
