@using Umbraco.Web
@using TGDH.Core.Models
@inherits UmbracoViewPage<BriefForm>
@{
	var success = TempData["BriefingFormValidationPasses"] != null;
	var error = TempData["BriefingFormValidationFailed"] != null;
	var folderId = TempData["BriefingFormFormFolderId"];
	var fileUpload = TempData["brief"] != null;
	var uploadError = TempData["Error"] != null;
}

<main id="main" class="o-page__content" role="main">
	<div class="o-page__content__wrap s-free-content u-clearfix">
		@if(uploadError)
		{
			<div class="o-wrap o-wrap--x-large">
				<header class="o-col--two-one u-clearfix c-cover__heading">
					<h1>Whoops...</h1>
					<div class="c-cover__subtitle u-font-sec">
						<p>Thats not good.</p>
					</div>
				</header>
				<div class="u-space-top u-epsilon c-proposal__copy">
					<p>We&#39;re having a few issues at the moment, why not call us on <a href="tel:02392334971">023 9233 4971</a>.</p>
				</div>
			</div>
		}
		@if (success)
		{
			<div class="o-wrap o-wrap--x-large">
				<header class="o-col--two-one u-clearfix c-cover__heading">
					<h1>Thank you</h1>
					<div class="c-cover__subtitle u-font-sec">
						<p>Your form was successfully submitted to us.</p>
					</div>
				</header>
				<div class="u-space-top u-epsilon c-proposal__copy">
					<p>We will take all of your requirements and get back to you shortly.</p>
				</div>
			</div>
		}
		else
		{
			<div class="o-wrap o-wrap--x-large">
				<header class="o-col--two-one u-clearfix c-cover__heading">
					<h1>Digital proposal request</h1>
					<div class="c-cover__subtitle u-font-sec">
						<p>Tell us all about your project</p>
					</div>
				</header>
				<div class="u-space-top u-epsilon c-proposal__copy">
					<p>Above form text: Please follow the steps below to complete the online briefing process.</p>
				</div>
			</div>
			<div class="o-wrap o-wrap--x-large">
				<div class="c-brief u-clearfix js-brief">
						@using (Html.BeginUmbracoForm("ProcessFormSubmission", "BriefForm", FormMethod.Post, new { data_persist="garlic", id = "briefing-form", @class = "c-proposal__form js-form" }))
						{
							@Html.AntiForgeryToken()

	@* Start about fields *@
	<section class="c-brief__section js-brief-section" data-brief-section-headline="About you" data-brief-section-subtitle="Who you are">
		<div id="about" class="c-brief__slide js-brief-slide">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
				Headline = "About you",
				Subtitle = "How can we get in touch with you?"
			})
			<div class="o-form__row o-form__row--two u-clearfix">
				<div class="o-form__field o-form__field--compact is-required">
					@Html.TextBoxFor(x => x.YourName, new { required = "required", @class="o-form__input" })
					@Html.LabelFor(x => x.YourName, new { @class = "o-form__label" })
					@Html.ValidationMessageFor(x => x.YourName)
				</div>
				<div class="o-form__field o-form__field--compact is-required">
					@Html.TextBoxFor(x => x.PhoneNumber, new { required = "required", @class = "o-form__tel" })
					@Html.LabelFor(x => x.PhoneNumber, new { @class = "o-form__label" })
					@Html.ValidationMessageFor(x => x.PhoneNumber)
				</div>
			</div>

			<div class="o-form__row o-form__row--two u-clearfix">
				<div class="o-form__field o-form__field--compact is-required">
					@Html.TextBoxFor(x => x.EmailAddress, new { required = "", type="email", @class="o-form__input" })
					@Html.LabelFor(x => x.EmailAddress, new { @class = "o-form__label" })
					@Html.ValidationMessageFor(x => x.EmailAddress)
				</div>

				<div class="o-form__field o-form__field--compact is-required">
					@Html.TextBoxFor(x => x.CompanyName, new { required = "required", @class="o-form__input" })
					@Html.LabelFor(x => x.CompanyName, new { @class = "o-form__label" })
					@Html.ValidationMessageFor(x => x.CompanyName)
				</div>
			</div>
			<div class="c-brief__section-actions">
				<button class="c-brief__button--next c-button c-button--secondary js-brief-next" type="button" data-target="theBrief">Next</button>
			</div>
		</div>
	</section>
	@* End about fields *@


	@* Start brief *@
	<div class="c-brief__section js-brief-section" data-brief-section-headline="The brief" data-brief-section-subtitle="What you need">
		<section id="theBrief" class="c-brief__slide js-brief-slide">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
				Headline = "The brief",
				Subtitle = "Set a budget and supply or create a brief."
			})
			<fieldset class="o-fieldset">
				<legend class="o-fieldset__legend">Your budget</legend>
				<ul class="o-fieldset__list o-fieldset__list--half u-clearfix">
					<li class="o-fieldset__item">
						@{
							var budgetId1 = "5-10k";
						}
						@Html.RadioButtonFor(x => x.Budget, budgetId1, new {
							data_storage="false",
							tabindex="0",
							required = "",
							id = budgetId1,
							@class = "o-form__radio"
						})
						<label for="@budgetId1" class="o-form__label o-form__label--alt">
							<span class="o-form__radio-button"></span>
							<span class="o-form__radio-label-text">&pound;5k - &pound;10k</span>
						</label>

					</li>
					<li class="o-fieldset__item">
						@{
							var budgetId2 = "10-20k";
						}
						@Html.RadioButtonFor(x => x.Budget, budgetId2, new {
							data_storage="false",
							tabindex="0",
							required = "",
							id = budgetId2,
							@class = "o-form__radio"
						})
						<label for="@budgetId2" class="o-form__label o-form__label--alt">
							<span class="o-form__radio-button"></span>
							<span class="o-form__radio-label-text">&pound;10k - &pound;20k</span>
						</label>
					</li>
					<li class="o-fieldset__item">
						@{
							var budgetId3 = "20-30k";
						}
						@Html.RadioButtonFor(x => x.Budget, budgetId3, new {
							data_storage="false",
							tabindex="0",
							required = "",
							id = budgetId3,
							@class = "o-form__radio"
						})
						<label for="@budgetId3" class="o-form__label o-form__label--alt">
							<span class="o-form__radio-button"></span>
							<span class="o-form__radio-label-text">&pound;20k - &pound;30k</span>
						</label>
					</li>
					<li class="o-fieldset__item">
						@{
							var budgetId4 = "30k+";
						}
						@Html.RadioButtonFor(x => x.Budget, budgetId4, new {
							data_storage="false",
							tabindex="0",
							required = "",
							id = budgetId4,
							@class = "o-form__radio",
						})
						<label for="@budgetId4" class="o-form__label o-form__label--alt">
							<span class="o-form__radio-button"></span>
							<span class="o-form__radio-label-text">Over &pound;30k</span>
						</label>
					</li>
				</ul>
			</fieldset>

			<fieldset class="o-fieldset">
				<legend class="o-fieldset__legend">Your brief</legend>
				<ul class="o-fieldset__list u-clearfix">
					<li class="o-fieldset__item">
						@{
							var briefChoiceId1 = "already-have-brief";
						}
						@Html.RadioButtonFor(x => x.BreifUploadOrCreation, briefChoiceId1, new {
							data_storage = "false",
							tabindex = "0",
							required = "",
							id = briefChoiceId1,
							@class = "o-form__radio"
						})
						<label for="@briefChoiceId1" class="o-form__label o-form__label--alt">
							<span class="o-form__radio-button"></span>
							<span class="o-form__radio-label-text">Already have a brief</span>
						</label>
					</li>
					<li class="o-fieldset__item">
						@{
							var briefChoiceId2 = "create-a-brief";
						}
						@Html.RadioButtonFor(x => x.BreifUploadOrCreation, briefChoiceId2, new {
							data_storage = "false",
							tabindex = "0",
							required = "",
							id = briefChoiceId2,
							@class = "o-form__radio"
						})

						<label for="@briefChoiceId2" class="o-form__label o-form__label--alt">
							<span class="o-form__radio-button"></span>
							<span class="o-form__radio-label-text">Create your own brief</span>
						</label>
					</li>
				</ul>
			</fieldset>

			@{
				var fileUploadId = "file-upload";
			}
			<div class="c-upload js-upload">
				<div class="c-upload__inner">
					@Html.TextBoxFor(x => x.Attachment, new {
						data_storage="false",
						type = "file",
						tabindex="0",
						@required = "",
						@class = "c-upload__input",
						@name = "brief-file",
						@id = fileUploadId,
						@accepts = "application/pdf, application/msword"
					})
					<label class="c-upload__label" for="@fileUploadId">
						<svg class="c-upload__icon u-icon u-icon--24">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#arrow-up"></use>
						</svg>
						<span class="c-upload__text js-upload-text">Choose a file&hellip;</span>
					</label>
				</div>
				<div class="c-upload__note">*Max 2MB size</div>
				@Html.ValidationMessageFor(x => x.Attachment)
			</div>

			<div class="c-brief__section-actions">
				<button class="c-brief__button--next c-button c-button--secondary js-brief-prev" type="button" data-target="about">Back</button>
				<button class="c-brief__button--next c-button c-button--secondary js-brief-next" type="button" data-target="briefFields1">Next</button>
			</div>
		</section>
		@* End  brief *@


		@* Star brief - fields *@
		<section>
			@* 1/7 *@
			@{
				var subHead1 = "Project summary";
				var subTitle1 = "State general project information";
			}
			<div id="briefFields1" class="c-brief__slide js-brief-slide">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
					Headline = "The briefing form",
					Subtitle = "Answer the following questions as far as you are able. Please put don't know if you're not sure."
				})
				<div class="u-space-bottom">
					<h3 class="u-delta">@subHead1 1</h3>
					<p>@subTitle1</p>
				</div>
				<div class="o-form__field">
					@Html.LabelFor(x => x.PurposesOfTheNewSite, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.PurposesOfTheNewSite, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>

				<div class="o-form__field">
					@Html.LabelFor(x => x.SecondaryGoalsOfTheNewSite, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.SecondaryGoalsOfTheNewSite, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>

				<div class="o-form__field">
					@Html.LabelFor(x => x.ThreeYearsTime, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.ThreeYearsTime, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>
				<div class="c-brief__section-actions">
					<button class="c-brief__button--next c-button c-button--secondary js-brief-prev" type="button" data-target="theBrief">Back</button>
					<button class="c-brief__button--next c-button c-button--secondary js-brief-next" type="button" data-target="briefFields2">Next</button>
				</div>
			</div>
			@* 2/7 *@
			@{
				var subHead2 = "Audience profile";
				var subTitle2 = "Profile the target audience. Provide enough detail to enhance everyones understanding of who the audience is. Include some audience demographic information. Your goal with this section is to answer the following: Who is the target? What do they care about? And what they do online on a daily basis?";
			}
			<div id="briefFields2" class="c-brief__slide js-brief-slide">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
					Headline = "The briefing form",
					Subtitle = "Answer the following questions as far as you are able. Please put don't know if you're not sure."
				})
				<div class="u-space-bottom">
					<h3 class="u-delta">@subHead2 2</h3>
					<p>@subTitle2</p>
				</div>

				<div class="o-form__field">
					@Html.LabelFor(x => x.CurrentTargetAudience, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.CurrentTargetAudience, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>
				<div class="o-form__field">
					@Html.LabelFor(x => x.TypicalTask, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.TypicalTask, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>
				<div class="o-form__field">
					@Html.LabelFor(x => x.CurrentVisitorInformation, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.CurrentVisitorInformation, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>
				<div class="c-brief__section-actions">
					<button class="c-brief__button--next c-button c-button--secondary js-brief-prev" type="button" data-target="briefFields1">Back</button>
					<button class="c-brief__button--next c-button c-button--secondary js-brief-next" type="button" data-target="briefFields3">Next</button>
				</div>
			</div>
			@* 3/7 *@
			@{
				var subHead3 = "Perception/tone/guidelines";
				var subTitle3 = "How should your target audience respond to your new online presence?";
			}
			<div id="briefFields3" class="c-brief__slide js-brief-slide">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
					Headline = "The briefing form",
					Subtitle = "Answer the following questions as far as you are able. Please put don't know if you're not sure."
				})
				<div class="u-space-bottom">
					<h3 class="u-delta">@subHead3 3</h3>
					<p>@subTitle3</p>
				</div>
				<div class="o-form__field">
					@Html.LabelFor(x => x.TargetAudienceThinkAndFeel, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.TargetAudienceThinkAndFeel, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>
				<div class="o-form__field">
					@Html.LabelFor(x => x.WhatYouWantAudienceThinkAndFeel, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.WhatYouWantAudienceThinkAndFeel, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>
				<div class="o-form__field">
					@Html.LabelFor(x => x.ImproveWebsiteAchieve, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.ImproveWebsiteAchieve, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>
				<div class="o-form__field">
					@Html.LabelFor(x => x.AdjectivesDescribePerceived, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.AdjectivesDescribePerceived, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>
				<div class="c-brief__section-actions">
					<button class="c-brief__button--next c-button c-button--secondary js-brief-prev" type="button" data-target="briefFields2">Back</button>
					<button class="c-brief__button--next c-button c-button--secondary js-brief-next" type="button" data-target="briefFields4">Next</button>
				</div>
			</div>
			@* 4/7 *@
			@{
				var subHead4 = "Communication strategy";
				var subTitle4 = "How will we convince them?";
			}
			<div id="briefFields4" class="c-brief__slide js-brief-slide">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
					Headline = "The briefing form",
					Subtitle = "Answer the following questions as far as you are able. Please put don't know if you're not sure."
				})
				<div class="u-space-bottom">
					<h3 class="u-delta">@subHead4 4</h3>
					<p>@subTitle4</p>
				</div>
				<div class="o-form__field">
					@Html.LabelFor(x => x.OverallMessage, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.OverallMessage, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>
				<div class="o-form__field">
					@Html.LabelFor(x => x.MeasureSuccess, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.MeasureSuccess, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>
				<div class="c-brief__section-actions">
					<button class="c-brief__button--next c-button c-button--secondary js-brief-prev" type="button" data-target="briefFields3">Back</button>
					<button class="c-brief__button--next c-button c-button--secondary js-brief-next" type="button" data-target="briefFields5">Next</button>
				</div>
			</div>
			@* 5/7 *@
			@{
				var subHead5 = "Competitive positioning";
				var subTitle5 = "How you are different from your competition. What are the factors that will make you a success?";
			}
			<div id="briefFields5" class="c-brief__slide js-brief-slide">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
					Headline = "The briefing form",
					Subtitle = "Answer the following questions as far as you are able. Please put don't know if you're not sure."
				})
				<div class="u-space-bottom">
					<h3 class="u-delta">@subHead5 5</h3>
					<p>@subTitle5</p>
				</div>
				<div class="o-form__field">
					@Html.LabelFor(x => x.DistinctiveFeatures, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.DistinctiveFeatures, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>
				<div class="o-form__field">
					@Html.LabelFor(x => x.DistinctiveFeatures, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.DistinctiveFeatures, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>
				<div class="o-form__field">
					@Html.LabelFor(x => x.CurrentSiteSuccess, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.CurrentSiteSuccess, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>
				<div class="o-form__field">
					@Html.LabelFor(x => x.CurrentSiteFlaws, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.CurrentSiteFlaws, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>
				<div class="o-form__field">
					@Html.LabelFor(x => x.AdditionalFeatures, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.AdditionalFeatures, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>
				<div class="c-brief__section-actions">
					<button class="c-brief__button--next c-button c-button--secondary js-brief-prev" type="button" data-target="briefFields4">Back</button>
					<button class="c-brief__button--next c-button c-button--secondary js-brief-next" type="button" data-target="briefFields6">Next</button>
				</div>
			</div>
			@* 6/7 *@
			@{
				var subHead6 = "Resources";
				var subTitle6 = "How you will be able to maintain the new site.";
			}
			<div id="briefFields6" class="c-brief__slide js-brief-slide">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
					Headline = "The briefing form",
					Subtitle = "Answer the following questions as far as you are able. Please put don't know if you're not sure."
				})
				<div class="u-space-bottom">
					<h3 class="u-delta">@subHead6 6</h3>
					<p>@subTitle6</p>
				</div>
				<div class="o-form__field">
					@Html.LabelFor(x => x.ResourcesManageNewSite, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.ResourcesManageNewSite, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>
				<div class="c-brief__section-actions">
					<button class="c-brief__button--next c-button c-button--secondary js-brief-prev" type="button" data-target="briefFields5">Back</button>
					<button class="c-brief__button--next c-button c-button--secondary js-brief-next" type="button" data-target="briefFields7">Next</button>
				</div>
			</div>
			@* 7/7 *@
			@{
				var subHead7 = "Targeted message";
			}
			<div id="briefFields7" class="c-brief__slide js-brief-slide">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
					Headline = "The briefing form",
					Subtitle = "Answer the following questions as far as you are able. Please put don't know if you're not sure."
				})
				<div class="u-space-bottom">
					<h3 class="u-delta">@subHead7 7</h3>
				</div>
				<div class="o-form__field">
					@Html.LabelFor(x => x.ConcicePhrase, new { @class = "o-form__label" })
					@Html.TextAreaFor(x => x.ConcicePhrase, new {
						tabindex="0",
						required="",
						@class = "o-form__textarea",
						@placeholder = "Enter your text..."
					})
				</div>
				<div class="c-brief__section-actions">
					<button class="c-brief__button--next c-button c-button--secondary js-brief-prev" type="button" data-target="briefFields6">Back</button>
					<button class="c-brief__button--next c-button c-button--secondary js-brief-next" type="button" data-target="proposal">Next</button>
				</div>
			</div>
		</section>
		@* End brief - fields*@
	</div>

	@* Start about fields *@
	<section class="c-brief__section js-brief-section" data-brief-section-headline="Build your proposal" data-brief-section-subtitle="Refine your requirements">
		<div id="proposal" class="c-brief__slide">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
				Headline = "Build your proposal",
				Subtitle = "Make choices to tell us what content you would like included in your proposal."
			})

			@{
				var tabName1 = "All about us";
				var tabId1 = tabName1.ToUrlSegment();

				var tabName2 = "How we do things";
				var tabId2 = tabName2.ToUrlSegment();

				var tabName3 = "Your project";
				var tabId3 = tabName3.ToUrlSegment();
			}

			<div class="c-tabs js-tabs">
				<ul class="c-tabs__tablist js-tabs__tablist">
					<li class="c-tabs__tablist-item">
						<a class="c-tabs__tab js-no-scroll" id="tab1" href="#@tabId1">@tabName1</a>
					</li>
					<li class="c-tabs__tablist-item">
						<a class="c-tabs__tab js-no-scroll" id="tab2" href="#@tabId2">@tabName2</a>
					</li>
					<li class="c-tabs__tablist-item">
						<a class="c-tabs__tab js-no-scroll" id="tab3" href="#@tabId3">@tabName3</a>
					</li>
				</ul>
				@* 1/3 *@
				<section class="c-tabs__panel js-tabs__panel c-brief__section-page" id="@tabId1">
					@if( Model.Profiles != null ) {
						<h3 class="u-zeta">The profiles</h3>

						<div class="o-grid--three u-clearfix u-space-top--large">
							@for ( var i = 0; i < Model.Profiles.Count(); i++ ) {
								var inputId = "Profiles_" + i + "__Checked";
								var imageName = Model.Profiles[i].Name.ToUrlSegment();
								var imageUrl = "/assets/img/briefing-form/profiles/" + imageName + ".jpg?width=200";

								<div class="c-image-checkbox o-grid__item">
									@Html.CheckBoxFor(x => Model.Profiles[i].Checked, new {
										@class = "o-form__checkbox"
									})
									<label for="@inputId" class="o-form__label o-form__label--alt">
										<div class="c-image-checkbox__image-wrap o-aspect--1-1">
											<img src="@imageUrl" alt="@Html.DisplayFor(x => Model.Profiles[i].Name)" class="c-image-checkbox__image">
										</div>
										<div class="c-image-checkbox__content">
											<span class="o-form__checkbox-button">
												<div class="o-form__checkbox-icon"></div>
											</span>
											<span class="o-form__checkbox-label-text">@Html.DisplayFor(x => Model.Profiles[i].Name)</span>
											<div class="o-image-checkbox__subtitle u-font-sec">@Model.Profiles[i].Subtitle</div>
										</div>
										@Html.HiddenFor(x => Model.Profiles[i].Name)
									</label>
								</div>
							}
						</div>
					}

					<hr>

					@if( Model.CaseStudies != null ) {
						<h3 class="u-zeta">Case studies</h3>

						<div class="o-grid--three u-clearfix u-space-top--large">
							@for ( var i = 0; i < Model.CaseStudies.Count(); i++ ) {
								var inputId = "CaseStudies_" + i + "__Checked";
								var imageName = Model.CaseStudies[i].Name.ToUrlSegment();
								var imageUrl = "/assets/img/briefing-form/case-studies/" + imageName + ".jpg";

								<div class="c-image-checkbox o-grid__item">
									@Html.CheckBoxFor(x => Model.CaseStudies[i].Checked, new {
										@class = "o-form__checkbox"
									})
									<label for="@inputId" class="o-form__label o-form__label--alt">
										<div class="c-image-checkbox__image-wrap o-aspect--1-1">
											<img src="@imageUrl" alt="@Html.DisplayFor(x => Model.CaseStudies[i].Name)" class="c-image-checkbox__image">
										</div>
										<div class="c-image-checkbox__content">
											<span class="o-form__checkbox-button">
												<div class="o-form__checkbox-icon"></div>
											</span>
											<span class="o-form__checkbox-label-text">@Html.DisplayFor(x => Model.CaseStudies[i].Name)</span>
											<div class="o-image-checkbox__subtitle u-font-sec">@Model.CaseStudies[i].Subtitle</div>
										</div>
										@Html.HiddenFor(x => Model.CaseStudies[i].Name)
									</label>
								</div>
							}
						</div>
					}
				</section>
				@* 2/3 *@
				<section class="c-tabs__panel js-tabs__panel c-brief__section-page" id="@tabId2">
					@if (Model.Workflow != null) {
						<fieldset class="o-fieldset">
							<legend class="o-fieldset__legend">Workflow</legend>
							<ul class="o-fieldset__list o-fieldset__list--half u-clearfix">
								@for ( var i = 0; i < Model.Workflow.Count(); i++ ) {
									var inputId = "Workflow_" + i + "__Checked";
									var note = Model.Workflow[i].Note;


									<li class="o-fieldset__item">
										@Html.CheckBoxFor(x => Model.Workflow[i].Checked, new {
											@class = "o-form__checkbox"
										})
										<label for="@inputId" class="o-form__label o-form__label--alt">
											<span class="o-form__checkbox-button">
												<div class="o-form__checkbox-icon"></div>
											</span>
											<span class="o-form__checkbox-label-text">
												@Html.DisplayFor(x => Model.Workflow[i].Name)
												@if (!String.IsNullOrEmpty(note)) {
													<span class="o-form__checkbox-label-note">(@note)</span>
												}
											</span>
											@Html.HiddenFor(x => Model.Workflow[i].Name)
										</label>
									</li>

								}
							</ul>
						</fieldset>
					}
				</section>
				@* 3/3 *@
				<section class="c-tabs__panel js-tabs__panel c-brief__section-page" id="@tabId3">
					@if (Model.ProjectSpecifics != null) {
						<fieldset class="o-fieldset">
							<legend class="o-fieldset__legend">Project specifics</legend>
							<ul class="o-fieldset__list o-fieldset__list--half u-clearfix">
								@for ( var i = 0; i < Model.ProjectSpecifics.Count(); i++ ) {
									var inputId = "ProjectSpecifics_" + i + "__Checked";
									var note = Model.ProjectSpecifics[i].Note;

									<li class="o-fieldset__item">
										@Html.CheckBoxFor(x => Model.ProjectSpecifics[i].Checked, new {
											@class = "o-form__checkbox"
										})
										<label for="@inputId" class="o-form__label o-form__label--alt">
											<span class="o-form__checkbox-button">
												<div class="o-form__checkbox-icon"></div>
											</span>
											<span class="o-form__checkbox-label-text">
												@Html.DisplayFor(x => Model.ProjectSpecifics[i].Name)
												@if (!String.IsNullOrEmpty(note)) {
													<span class="o-form__checkbox-label-note">(@note)</span>
												}
											</span>
											@Html.HiddenFor(x => Model.ProjectSpecifics[i].Name)
										</label>
									</li>

								}
							</ul>
						</fieldset>
					}
					<button class="c-button c-button--primary">Submit</button>
				</section>
			</div>
			<div class="c-brief__section-actions">
				<button class="c-brief__button--next c-button c-button--secondary js-brief-prev" type="button" data-target="briefFields7">Back</button>
				<button class="c-brief__button--next c-button c-button--secondary is-disabled" type="button">Next</button>
			</div>
		</div>
	</section>


						}
					</div>
				</div>
		}
	</div>
</main>
